<div class="container">
  <h1>Requested Trainings</h1>
  <div class="main">
    <div class="table">
      <!-- <app-common-table ></app-common-table> -->
      <app-common-table [tableSource]="tableSource">

        <ng-template appFor="sn" let-row="row">
          {{row.sn }}
        </ng-template>
        <ng-template appFor="training_name" let-row="row">
          {{row.training_name }}
        </ng-template>
        <ng-template appFor="timeline" let-row="row">
          {{row.timeline }}
        </ng-template>
        <ng-template appFor="requested_date" let-row="row">
          {{row.requested_date }}
        </ng-template>
        <ng-template appFor="status" let-row="row">
          {{row.status }}
        </ng-template>
        <ng-template appFor="action" let-row="row">

          {{row.action}}
      </ng-template>

      </app-common-table>

    </div>
  </div>
</div>
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->


<!-- action
:
"pending"
requested_date
:
"17/05/2023"
sn
:
1
status
:
"on going"
timeline
:
""
training_name
:
"" -->
