.leftRs {
  position: absolute;
  top: -30px;
  bottom: 0;
  color:var( --caurosel-button-color);

  background-color: #f1f1f1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 30px;
  border: none;


}

.rightRs {
  position: absolute;
  top: -30px;
  bottom: 0;
  color:var( --caurosel-button-color);
  background-color: #f1f1f1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 0;
  border: none;
}

:host::ng-deep{

  .ngucarousel{
    position: initial !important;
  }
}
::ng-deep.ngucarousel[_ngcontent-bek-c113] .ngucarousel-items[_ngcontent-bek-c113] {
  position: relative;
  display: flex;
  height: 100%;
  width: 372px;
}
.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint li {
  display: inline-block;
  border-radius: 50%;
  // border: 2px solid rgba(0, 0, 0, 0.55);
  background: grey;
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}
.myPoint li.active {
  background: #6b6b6b;
  transform: scale(1.2);
}

@media (max-width:375px)
{

}
