<ng-container *ngIf="wait">

  <ngu-carousel class="crr" #myCarousel [inputs]="carouselConfig" [dataSource]="listToShow">

    <ngu-item NguCarouselItem *nguCarouselDef="let item; let j = index">
      <ng-container *ngTemplateOutlet="item"></ng-container>
    </ngu-item>
      <button *ngIf="buttonShow" NguCarouselPrev class="leftRs"  [style.z-index]="9999" >&lt;</button>
      <button *ngIf="buttonShow" NguCarouselNext class="rightRs" [style.z-index]="9999" >&gt;</button>
    </ngu-carousel>
  </ng-container>
