@import "../../../scss/mixins";
@import "../../../scss/global.scss";

.card1 {
  border: $borderColor;
  margin: 0px;
  padding: 10px;
  background-color: $pure-white;
  .fullCard {
    background-color: #f3f7fd;
    position: relative;
    padding: 0 0 5px 0;
    margin: 10px;
    border-radius: 5%;
    .image {
      // border: 1px solid transparent;
      // @include flex(center, center);
      min-height: 180px;
      border-radius: 10px;
      background-color: #f3f7fc;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      // height: 20vh;
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .location {
      p {
        position: absolute;
        bottom: 5px;
        left: 15px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 8px 12px 8px 30px;
        font-family: "Lato";
        font-size: 12px;
        color: #231e1e;
        font-weight: 400;
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .date {
      position: relative;
      p {
        position: absolute;
        right: 18px;
        height: 10px;
        bottom: 15px;
      }
    }
  }
  .description {
    .heading {
      h3 {
        font-weight: 800;
        font-size: large;
      }
    }
  }
  .openings {
    @include flex("", space-between);
    .noOfOpenings {
      font-size: small;
      span {
        font-weight: bold;
      }
    }
    .experience {
      font-size: small;
      span {
        font-weight: bold;
      }
    }
  }
  .cardBottom {
    @include flex("", space-between);

    .viewDetails {
      @include button(#008dfe, #fefefe, 12vw);
    }
    .referCandidate {
      @include button(#fefefe, #008dfe, 12vw);
    }
  }
}

@media (max-width: 1500px) {
  .card1 {
    .cardBottom {
      display: block;
      .viewDetails {
        // margin-top: 10px;
        button {
          width: 100%;
        }
      }
      .referCandidate {
        margin-top: 10px;
        button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 732px) {
  .card1 {
    display: block;
    .fullCard {
      display: block;

      .bottom {
        position: relative;
        display: block;
      }
    }
    .cardBottom {
      display: block;
      // margin-bottom: 10px;
      .viewDetails {
        margin-top: 10px;
        button {
          width: 100%;
        }
      }
      .referCandidate {
        margin-top: 10px;
        button {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 363px) {
  .card1 {
    .fullCard {
      .bottom {
        .location {
          margin: auto;
          width: 85%;
          p {
            position: initial;
            text-align: center;
          }
        }
        .date {
          p {
            position: initial;
            text-align: center;
          }
        }
      }
    }
  }
}
