<div class="card1">
  <div class="fullCard">
    <div class="image">
      <img
        src="../../../assets/angular_logo.png"
        alt=""
      />
    </div>
    <div class="bottom">
      <div class="location">
        <p>Noida</p>
      </div>
      <div class="date">
        <p>03/02/2023</p>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="heading">
      <h3>Tech Lead- Angular</h3>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
          saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolores, saepe? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Dolores, saepe?
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="openings">
    <div class="noOfOpenings">
      <p>No of Openings</p>
      <span>3</span>
    </div>
    <div class="experience">
      <p>Experience</p>
      <span>5 to 7 years</span>
    </div>
  </div>
  <hr />
  <div class="cardBottom">
    <div class="viewDetails">
      <button mat-raised-button>View Details</button>
    </div>
    <div class="referCandidate">
      <button (click)="openDialog()">Refer a Candidate</button>
    </div>
  </div>
</div>
