@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

.container {
  padding: 40px;
  min-height: 77%;
  background-color: #f2f6fc;
  h1 {
    color: #199cff;
    margin-left: 20px;
  }
  .main {
    background-color: $pure-white;
    .table {
      padding: 20px;
      .action {
        td {
          button {
          }
        }
      }
      :host ::ng-deep .container {
        .tabels {
          table {
            border: $borderColor;
            width: 100%;
            box-shadow: none;
            overflow-x: auto;
            th {
              word-break: break-word;
              border: 1px solid #f1f1f2;
              overflow-x: auto;
            }
            td {
              border: 1px solid #f1f1f2;
              padding-left: 10px;
              overflow-x: auto;
              // word-wrap: break-word;
              .edit {
                color: $pure-white;
                background-color: grey;
                margin-bottom: 7px;
                width: 10px;
              }
              .delete {
                color: $pure-white;
                background-color: red;
              }
            }
          }
        }
      }
    }
  }
}
:host ::ng-deep .container{
  .tables{
    table{
      thead{
        th{
          padding: 20px;
        }
      }
      tbody{
        tr{
          padding: 20px;
          td{
            padding: 15px;
            // border-right: 1px solid black;
          }
        }
      }
    }
  }
}
