<div class="container">
  <div class="main" [@enterLeaveAnimation]>
    <div class="heading">
      <h2>Basic Information</h2>
    </div>
    <div class="info">
      <form [formGroup]="infoForm" class="form-tag">
        <div class="fields">
          <div class="firstName">
            <p>First Name</p>
            <mat-form-field class="firstName_input" appearance="outline">
              <input matInput formControlName="firstName" placeholder="First Name" required
                (keydown.space)="$event.preventDefault()" />
              <mat-error>
                {{ infoForm | showError : "firstName" : "FirstName" }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="lastName">
            <p>Last Name</p>

            <mat-form-field class="lastName_input" appearance="outline">
              <input matInput formControlName="lastName" placeholder="Last Name" required
                (keydown.space)="$event.preventDefault()" />
              <mat-error>
                {{ infoForm | showError : "lastName" : "LastName" }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="dob">
            <p>Date of Birth</p>

            <mat-form-field appearance="outline">
              <input readonly="true" matInput [matDatepicker]="picker1" [max]="today" placeholder="Date of Birth" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error>
                {{ infoForm | showError : "dob" : "Dob" }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="gender">
            <p>Gender</p>

            <app-input-search [myControlName]="infoForm.controls.gender" [data]="genderData"></app-input-search>
          </div>

          <div class="married">
            <p>Marital Status</p>

            <app-input-search [myControlName]="infoForm.controls.marital" [data]="maritalData"></app-input-search>
          </div>
          <div class="contactNumber">
            <p>Contact Number</p>

            <mat-form-field class="ContactNumber" appearance="outline">
              <input matInput formControlName="contactNumber" placeholder="Contact Number" required
                (keydown.space)="$event.preventDefault()" />
              <mat-error>
                {{ infoForm | showError : "contactNumber" : "ContactNumber" }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="experience">
          <div class="totalExperience">
            <div>
              <p>Total Working Experience</p>
              <div class="input">
                <div class="input-box">
                  <p>Years</p>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="years" placeholder="years" required
                      (keydown.space)="$event.preventDefault()" />
                    <mat-error>
                      {{ infoForm | showError : "years" : "Years" }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="input-box">
                  <p>Months</p>
                  <mat-form-field class="months" appearance="outline">
                    <input type="number" matInput formControlName="months" placeholder="months" required
                      (keydown.space)="$event.preventDefault()" [max]="11" />
                    <mat-error>
                      {{ infoForm | showError : "months" : "Months" }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="relevantExperience">
            <div>
              <p>Relevant Experience</p>
              <div class="input">
                <div>
                  <p>Years</p>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="years" placeholder="years" required
                      (keydown.space)="$event.preventDefault()" />
                    <mat-error>
                      {{ infoForm | showError : "years" : "Years" }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <p>Months</p>
                  <mat-form-field class="months" appearance="outline">
                    <input matInput formControlName="months" placeholder="months" required
                      (keydown.space)="$event.preventDefault()" [max]="11" />
                    <mat-error>
                      {{ infoForm | showError : "months" : "Months" }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="address">
          <p>Address</p>
          <textarea name="address" id="address" cols="30" rows="10"></textarea>
        </div>
        <div class="button">
          <button (click)="info()" mat-raised-button>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
