@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

.container {
  width: 100%;
  .main {
    .heading {
      padding: 10px;
      border: 0px 0px $borderColor 0px;
      background-color: $pure-white;
      h2 {
        padding: 0px;
        margin: 0px;
        color: $darkblue;
      }
    }
    .info {
      background-color: $pure-white;
      padding: 20px;
      .fields {
        @include grid("grid-template-columns", "32% 32% 32%", 2%);

        .firstName {
          mat-form-field {
            width: 100%;
          }
        }
        .lastName {
          mat-form-field {
            width: 100%;
          }
        }
        .dob {
          mat-form-field {
            width: 100%;
          }
        }
        .gender {


        }
        .married {
          mat-form-field {
            width: 100%;
          }
        }
        .contactNumber {
          mat-form-field {
            width: 100%;
          }
        }
      }
      .experience {
        @include grid("grid-template-columns", "48% 48%", 1%);
        .totalExperience {
          .input {
            @include grid("grid-template-columns", "48% 48%", 1%);
            .input-box {
              mat-form-field {
                width: 100% !important;
              }
            }
          }
        }
        .relevantExperience {
          .input {
            @include grid("grid-template-columns", "48% 48%", 1%);
            mat-form-field {
              width: 100% !important;
            }
          }
        }
      }
      .address {
        width: 99%;
        margin-bottom: 5px;
        textarea {
          height: 70px;
          width: 99%;
          resize: none;
        }
      }
      .button {
        @include button(#fefefe, #008dfe, 3vw);
      }
    }
  }
}

@media (max-width: 766px) {
  .container {
    .main {
      h2 {
      }
      .info {
        .fields {
          display: block;
          .firstName {
            p {
            }
          }
        }
        .experience {
          display: block;
          .totalExperience{
            .input{
              display: block;
            }
          }
          .relevantExperience{
            .input{
              display: block;
            }
          }
        }
      }
    }
  }
}
