@import "../../../../../../../scss/global.scss";
@import "../../../../../../../scss/mixins";

.main-div {
  padding: 20px;
  @include grid("grid-template-columns", "70% 30%", "");
  background-color: #f3f7fd;
  .main-left {
    @include grid("grid-template-columns", "50% 50%", "");
    border-radius: 9px;
    border: $borderColor;
    margin-right: 25px;
    background-color: #fefefe;
    .card {
      border-right: 1px dotted black;
      padding: 18px;
      .left {
        display: flex;
        justify-content: space-between;
        .jobHeading {
          padding: 5px;
          h3 {
            font-size: 20px;
            font-weight: 700;
            margin:-5px 0 10px
          }
        }
        .viewAll {
          button {
            background-color: #1f87f0;
            color: #fefeff;
            height: 28px;
          }
        }
      }


    }
    .mid {
      border: $borderColor;
      border-left: none;
      border-top: none;
      border-bottom: none;
      border-right: none;
      .referralBonus {
        padding: 0 0 0 24px;
        .referralHeading {
          padding: 20px 10px 0 10px;
          h3 {
            color: #2bb0fe;
            font-weight: bold;
            font-size: 200;
            text-transform: capitalize;
          }
        }
        .cards {
          @include grid("grid-template-columns", "46% 46%", "");

          align-items: center;
          padding: 0 0 0 10px;

          li {
            margin: 10px;
            background-color: #f4f9ff;
            padding: 25px 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            @include flex(center, center);
            flex-direction: column;

            h2 {
              font-size: 56px;
              color: #0091fe;
            }
            p {
              font-size: 12px;
              // word-break:break-word;
              text-align: center;
            }
          }
        } // height: 49vh;
      }
    }
  }
}

@media (max-width: 1620px) {
  .main-div {
    // display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      .card {
        .card1 {
          .fullCard {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .main-div {
    display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      // display: block;
      .card {
        .left {
          .jobHeading {
            h3 {
              word-break: break-word;
            }
          }
        }
        .card1 {
          .fullCard {
            display: block;
          }
        }
      }
    }
  }
}


@media (max-width: 730px) {
  .main-div {
    display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      display: block;
      .card {
        .left {
          .jobHeading {
            h3 {
              word-break: break-word;

            }
          }
        }
        .card1 {
          .fullCard {
            display: block;
          }
          margin-bottom: 10px;
        }
      }
      .mid {
        margin-top: 10px;
        .referralBonus {
          .cards {
            display: block;
            li {

            }
          }
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .main-div {
    display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      display: block;
      .card {
        .left {
          .jobHeading {
            h3 {
              word-break: break-word;

            }
          }
        }
        .card1 {
          // display: block;
          .fullCard {
            display: block;

            .image {
              display: block;
              img {
                height: 50%;
              }
            }
            .location {
              display: block;
            }
          }
          .cardBottom {
            display: block;
            .viewDetails {
              button {
                width: 100%;
              }
            }
            .referCandidate {
              margin-top: 5px;
              button {
                width: 100%;
              }
            }
          }
        }
      }
      .mid {
        margin-top: 10px;
        .referralBonus {
          padding: 0px !important;
          .cards {
            display: block;
            li {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .main-div {
    .rightSide {
      width: 97%;
    }
  }
}

@media (max-width: 395px) {
  .main-div {
    .main-left {
      .card{
        .left{
          display: block;
          .viewAll{
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}


@media (max-width: 360px) {
  .main-div {
    display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      display: block;
      .card {
        height: 100%;
        // display: none;
        .left {
          display: block;
          margin-bottom: 10px;
          .jobHeading {
            h3 {
              word-break: break-word;

            }
          }
        }
        .card1 {
          // display: block;
          .fullCard {
            display: block;

            .image {
              display: block;
              img {
                height: 50%;
              }
            }
            .location {
              display: block;
              position: absolute;
              bottom: 33px;
              left: 53px;
            }
            .date {
              position: absolute;
              left: 100px;
              bottom: -2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .main-div {
    display: block;
    // margin-top: 20px;
    .main-left {
      margin-bottom: 10px;
      display: block;
      .card {
        height: 100%;
        // display: none;
        .left {
          display: block;
          margin-bottom: 10px;
          .jobHeading {
            h3 {
              word-break: break-word;

            }
          }
        }
        .card1 {
          // display: block;
          .fullCard {
            display: block;

            .image {
              display: block;
              img {
                margin-top: 10px;
                position: relative;
                right: -15px;
                height: 50%;
              }
            }

          }
        }
      }
      .mid {
        // margin-top: 10px;
        // .referralBonus {
        //   padding: 0px !important;
        //   .cards {
        //     display: block;
        //     li {
        //       // width: 80%;
        //       padding: 0px;
        //     }
        //   }
        // }
      }
    }
    .rightSide {
      width: 90%;
    }
  }
}
