<div class="main-div">
  <div class="main-left">
    <div class="card">
      <div class="left">
        <div class="jobHeading">
          <h3>Latest Job Headings</h3>
        </div>
        <div class="viewAll">
          <button>View All</button>
        </div>
      </div>
      <app-carousel
        [carouselConfigFinal]="carouselConfigJobs"
        [buttonShow]="false"
        [listToShow]="dataSource"
      ></app-carousel>
      <ng-container *ngFor="let member of listOfNewFamilyMembers">
        <ng-template #listofDivs>
         <app-job-card></app-job-card>
        </ng-template>
      </ng-container>
    </div>

    <div class="mid">
      <div class="referralBonus">
        <div class="referralHeading">
          <h3>OUR REFERRAL BONUS PROGRAM</h3>
        </div>
        <ul class="cards">
          <li>
            <h2>11K</h2>
            <h3>Referral Bonus</h3>
            <p>for 1 to 3 years of experience</p>
          </li>
          <li>
            <h2>11K</h2>
            <h3>Referral Bonus</h3>
            <p>for 1 to 3 years of experience</p>
          </li>
          <li>
            <h2>11K</h2>
            <h3>Referral Bonus</h3>
            <p>for 1 to 3 years of experience</p>
          </li>
          <li>
            <h2>11K</h2>
            <h3>Referral Bonus</h3>
            <p>for 1 to 3 years of experience</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <app-right-side></app-right-side>
  </div>
</div>
