<div class="container">
  <div class="main">
    <div class="heading">
      <h2>Appraisal Detail</h2>
    </div>
    <div class="info" >
      <mat-form-field class="appraisalCycle" appearance="outline">
        <mat-label>Appraisal Cycle</mat-label>
        <mat-select>

        </mat-select>
      </mat-form-field>
      <mat-form-field class="not-allowed" appearance="outline">
        <mat-label>Appraisal Month</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

