<div class="container">
  <div class="main" [@enterLeaveAnimation]>
    <div class="heading">
      <h2>Appraisal Detail</h2>
    </div>
    <div class="info" >
      <div class="field1">
        <p>Appraisal Cycle</p>
        <mat-form-field class="appraisalCycle" appearance="outline" >
          <mat-label>-</mat-label>
          <mat-select disabled="true">
            <mat-option>1</mat-option>
            <mat-option>1</mat-option>
            <mat-option>1</mat-option>

          </mat-select>
        </mat-form-field>

      </div>
      <div class="field2">
        <p>Appraisal Month</p>
        <mat-form-field class="not-allowed" appearance="outline">
          <mat-label>-</mat-label>
          <mat-select disabled="true">
            <mat-option>1</mat-option>
            <mat-option>1</mat-option>
            <mat-option>1</mat-option>

          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </div>
</div>

