@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

.container {
  .main {
    background-color: $pure-white;
    .heading {
      padding: 10px;
      border: 0px 0px $borderColor 0px;
      background-color: $pure-white;
      h2 {
        color: $darkblue;
      }
    }
    .info {
      padding-left: 20px;
      display: flex;
      .field1 {
        p {
          font-weight: 500;
          margin: 0px;
          padding: 0px;
        }
        margin-right: 20px;
      }
      .field2 {
        p {
          font-weight: 500;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
}

// ::ng-deep .mat-select-arrow {
//   width: 0;
//   height: 5;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-top: 5px solid;
//   margin: 0 4px;
//   color: blue;
// }

@media (max-width: 480px) {
  .container {
    .main {
      .info {
        display: block;
      }
    }
  }
}
::ng-deep .mat-form-field {
  cursor: not-allowed;
}
::ng-deep .mat-form-field-infix {
  cursor: not-allowed;
  span {
    cursor: not-allowed;
  }
}
