@import "../../../../../scss/_mixins.scss";

.footer {
  padding: 50px 0 50px 0px;
  background-color: white;
  p {
    @include flex(center, "");
    position: relative;
    bottom: 33px;
    margin-left: 10px;
    span {
      font-size: small;
    }
  }
}
