<!-- <div class="container">
  <div class="middle" [formGroup]="couponForm">
      <div class="input mr-10" >
          <mat-label class="fw-600">Coupon Count</mat-label>
          <mat-form-field appearance="outline">
              <input matInput formControlName="coupon_count">
            </mat-form-field>
      </div>
      <div class="input mr-10">
          <mat-label class="fw-600" >Total Amount</mat-label>
          <mat-form-field appearance="outline">
              <input matInput formControlName="total_amount" >
            </mat-form-field>
      </div>
      <div class="buttons-wrapper ">

          <button (click)="buyCoupons()" class="submit-btn mr-10" >submit</button>

          <button class="cancel-btn" (click)="cancelCoupons()"  >Cancel</button>
      </div>
  </div>

  <div class="bottom">


      <app-lunch-calender [myCalendar]="myCalendar" [options]="options" (calendarData)="updateCalendarData($event)"   >
      </app-lunch-calender>

  </div>
</div> -->
