<section>
  <div class="add">
    <div class="head">
      <h1>Create New DSR</h1>
      <button (click)="toggleAddNew()">+Add</button>
    </div>
    
    <div class="containers" *ngIf="isShow">
      <div class="left_container">
        <form [formGroup]="dsrForm">
          <div>
            <!-- <app-dropdown [dropdown]="dropdownData" ></app-dropdown> -->
            <app-input-search [myControlName]="dsrForm.controls.date" [data]="dropdownData" ></app-input-search>

          </div>
          <div class="date_main">
            <div class="data">
              <mat-label> Date</mat-label>

              <mat-form-field appearance="outline">
                <input
                  matInput
                  [matDatepicker]="picker"
                  (click)="picker.open()"
                  readonly="true"
                  formControlName="date"
                  placeholder="MM/DD/YY"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                  {{ dsrForm | showError : "date" : "Date" }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="data">
              <mat-label>Estimated Hours</mat-label>
              <input [ngxTimepicker]="picker1" class="timePicker" />
              <ngx-material-timepicker #picker1></ngx-material-timepicker>
            </div>
            <div class="check">
              <mat-checkbox class="example-margin">No Work done</mat-checkbox>
            </div>
          </div>

          <div class="buttons">
            <button mat-button class="save" (click)="onAddDsr()">Add</button>
          </div>
        </form>
      </div>
      <div class="right_container">
        <h3>Description</h3>
        <angular-editor [config]="config"></angular-editor>
      </div>
    </div>
  </div>
  <div class="mid_wrapper">
    <div class="data">
      <mat-label>From Date</mat-label>

      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="picker2"
          (click)="picker2.open()"
          readonly="true"
          placeholder="MM/DD/YY"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="data">
      <mat-label>End Date</mat-label>

      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="picker3"
          (click)="picker3.open()"
          readonly="true"
          placeholder="MM/DD/YY"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="data">
      <mat-label> Submission Status</mat-label>

      <mat-form-field class="name_input" appearance="outline">
        <input matInput placeholder="Date" required />
      </mat-form-field>
    </div>

    <div class="data">
      <mat-label> Project</mat-label>

      <mat-form-field class="name_input" appearance="outline">
        <input matInput placeholder="Date" required />
      </mat-form-field>
    </div>

    <div class="data">
      <mat-label> Final Approval Status</mat-label>

      <mat-form-field class="name_input" appearance="outline">
        <input matInput placeholder="Date" required />
      </mat-form-field>
    </div>

    <div class="data">
      <mat-label> Hours</mat-label>

      <mat-form-field class="name_input" appearance="outline">
        <input matInput placeholder="Date" required />
      </mat-form-field>
    </div>

    <div>
      <button mat-button class="reset">Reset</button>
    </div>
  </div>

  <div class="dsr_container">
    <div>
      <h1>List All Worksheets</h1>
    </div>
    <div class="table">
      <app-listing
        [config]="listingConfig"
        (changeListEvent)="onTableEventChange($event)"
      >
        <app-common-table [tableSource]="tableSource">
          <ng-template appFor="sno" let-row="row">
            {{ row.sno }}
          </ng-template>
          <ng-template appFor="employee_name" let-row="row">
            {{ row.employee_name }}
          </ng-template>
          <ng-template appFor="employee_id" let-row="row">
            {{ row.employee_id }}
          </ng-template>
          <ng-template appFor="email" let-row="row">
            {{ row.email }}
          </ng-template>
          <ng-template appFor="employment_type" let-row="row">
            {{ row.employment_type }}
          </ng-template>
          <ng-template appFor="date" let-row="row">
            {{ row.date }}
          </ng-template>
          <ng-template appFor="total" let-row="row">
            {{ row.total }}
          </ng-template>
          <ng-template appFor="final_Approval" let-row="row">
            <button (click)="openDetails()">Pending</button>
          </ng-template>
        </app-common-table>
      </app-listing>
    </div>
  </div>
</section>

<div class="footer">
  <app-footer></app-footer>
</div>
