@import "../../../../../../scss/mixins";
@import "../../../../../../scss/global.scss";

section {
  padding: 2%;

  .add {
    background-color: white;
    // padding: 1% 2% 0 1%;
    padding: 2%;

    .head {
      display: flex;
      justify-content: space-between;
      // padding: 1%;
      align-items: center;
      h1 {
        color: #3246d3;
      }
      button {
        border: 1px solid $primary-blue;
        color: $primary-blue;
        height: 50%;
        background-color: $pure-white;
        cursor: pointer;
      }
    }

    .containers {
      display: grid;
      grid-template-columns: 48% 48%;
      column-gap: 4%;
      // border-bottom: 1px solid rgb(245, 238, 238);
      @media(max-width:750px){
        display: block;
            }
      .left_container {

        .date_main {
          display: grid;
          grid-template-columns: 30% 30% 30%;
          column-gap: 4%;
          @media(max-width:1122px){
            display: block;
                }
          .check {
            margin-top: 5%;
            ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
              background-color: blue !important;
            }

          }
          .timePicker {
            height: 45px;
            border: 1px solid #d7d5d5;
            margin-top: 4px;
            border-radius: 3px;
            mat-label{
              margin-left: 20px;

            }
          }
        }
        .data {
          display: flex;
          flex-direction: column;
        }
      }
      .right_container{
        @media(max-width:730px){
          margin-top: 30px;
        }
      }
    }
    .buttons {
      display: grid;
      grid-template-columns: 15% 15%;
      column-gap: 4%;
      cursor: pointer;
      @media(max-width:730px){
        margin-top: 30px;
      }
      .cancel {
        color: white;
        background-color: red;
      }

      .save {
        color: white;
        background-color: green;
      }
    }

  }

  .mid_wrapper {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
    margin-top: 3%;
    background-color: white;
    padding: 2%;
    @media(max-width:750px){
      display: block;
          }
    .data {
      display: flex;
      flex-direction: column;
    }
    .reset {
      margin-top: 10%;

      background-color: $primary-blue;
      color: white;
    }
  }
  .dsr_container {
    background-color: white;
    padding: 2%;
    margin-top: 2%;
    h1 {
      color: #3246d3;
    }
  }
}

:host ::ng-deep .container {
  .tables {
    table {
      thead {
        th {
          padding: 10px;
        }
      }
      tbody {
        tr {
          td {
            padding: 15px;
            // border-right: 1px solid black;
          }
        }
      }
    }
  }
}

// .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//   /* background-color: #ff4081; */
//   background-color: $blue;
// }



