<mat-card class="login-container">
  <mat-card class="main-card">
    <div class="inner1">

      <div class="logo">

        <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/applogo.png" alt="appinventiv logo">
      </div>

      <div class="reset">
        <p>Reset Your Password</p>
      </div>
      <hr style="color:lightgray;background-color:lightgray; margin: 2px; border-style: inset;">
      <div class="resetLine">
        <p>We will Send you a link to reset password</p>
      </div>
      <form [formGroup]="loginForm" class="form-tag">

        <div class="email">
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Enter your email" formControlName="email">

          </mat-form-field>
        </div>
      </form>
      <div class="recover">
        <button  (click)="Recover()">Recover Password</button>
      </div>
    </div>
    <div class="inner2">
      <button [routerLink]="[('/')]">BACK TO LOGIN</button>
      <!-- <button (click)="googleLogin()" *ngIf="!loginWithCredential">Login with Google</button> -->
    </div>
    <!-- <hr style="color:lightgray;background-color:lightgray; margin: 2px; border-style: inset;"> -->
    <div class="footer-card">
      <p>2023 <span class="material-icons">copyright</span> Appinventiv HR System</p>
    </div>
  </mat-card>
</mat-card>
