<div class="container">
  <div class="welcome">
    <div class="displayPicture">
      <img src="../../../../assets/470-4703547_icon-user-icon-hd-png-download.png" alt="">
    </div>
    <div class="hello">

      <h1>Hello!</h1>
      <h1>Rishabh Ghildiyal</h1>
    </div>

  </div>

  <div class="main-div">
    <div class="main-left">
      <div class="card">
        <div class="left">
          <div class="jobHeading">
            <h3>
              Latest Job Headings
            </h3>

          </div>
          <div class="viewAll">
            <button>View All</button>
          </div>
        </div>
        <div class="card1">
          <div class="fullCard">
            <div class="image">
              <img src="../../../../assets/DeepinScreenshot_select-area_20230201160316.png" alt="">

            </div>
            <div class="location">
              dxvvdsvsdv
            </div>
            <div class="date">
              <p>03/02/2023</p>
            </div>
          </div>
          <div class="description">
            <div class="heading">
              <h3>
                Tech Lead- Angular
              </h3>
              <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, saepe?</p>
              </div>
            </div>
            <hr>
          </div>
          <div class="openings">
            <div class="noOfOpenings">
              <p>No of Openings</p>
              <span>3</span>
            </div>
            <div class="experience">
              <p>Experience</p>
              <span>5 to 7 years</span>
            </div>
          </div>
          <hr>
          <div class="cardBottom">
            <div class="viewDetails">
              <button mat-raised-button>View Details</button>
            </div>
            <div class="referCandidate">
              <button>Refer a Candidate</button>
            </div>
          </div>

        </div>
      </div>

      <div class="mid">
        <div class="referralBonus">
          <div class="referralHeading">
            <h3>
              OUR REFERRAL BONUS PROGRAM
            </h3>
          </div>
          <ul class="cards">
            <li>
              <h2>11K</h2>
              <h3>Referral Bonus</h3>
              <p>for 1 to 3 years of experience</p>
            </li>
            <li>
              <h2>11K</h2>
              <h3>Referral Bonus</h3>
              <p>for 1 to 3 years of experience</p>
            </li>
            <li>
              <h2>11K</h2>
              <h3>Referral Bonus</h3>
              <p>for 1 to 3 years of experience</p>
            </li>
            <li>
              <h2>11K</h2>
              <h3>Referral Bonus</h3>
              <p>for 1 to 3 years of experience</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="right">
      <h3>New Family Members</h3>
      <img src="../../../../assets/DeepinScreenshot_select-area_20230202121545.png" alt="">
    </div>
  </div>
  <div class="latestAppinventiv">
    <div class="fullContent">
      <div class="celebration">
        <div class="header">
          <h2>Latest at Appinventiv</h2>
        </div>
        <div class="body">
          <div class="latestCard">
            <div class="heading">
              <span class="dot"></span>
              <h3>Appreciation for team</h3>

            </div>
            <div class="content">
              <div class="subject">
                <h3>Dear Moxy Team</h3>
              </div>
              <div class="paragraph">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis error, natus at iure, similique
                  dicta perspiciatis, maiores quibusdam officiis velit saepe neque sapiente excepturi quod cum
                  aspernatur quam rerum cupiditate placeat. Maiores cupiditate illo suscipit voluptatem accusantium ex
                  tempore cum quae praesentium dolore, nobis impedit rem quia quam amet dolor.</p>
              </div>
              <div class="footer">
               <button>View More</button>
              </div>
            </div>
          </div>

          <div class="award">
            <div class="awardBody">
              <div class="latestCardAward">
                <div class="headingAward">
                  <span class="dot"></span>
                  <h3>Awards</h3>

                </div>
                <div class="content">
                  <div class="subject">
                    <h4>Dear</h4>
                  </div>
                  <div class="image">
                    <div class="image1">
                      <img src="../../../../assets/DeepinScreenshot_select-area_20230207161344.png" alt="">
                    </div>
                    <div class="image2">
                      <img src="../../../../assets/DeepinScreenshot_select-area_20230207161407.png" alt="">
                    </div>
                  </div>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                  <div class="footer">
                    <p>Cheers!</p>
                    <span>Appinventiv</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="birthday">
            <div class="birthdayBody">
              <div class="birthdayCelebration">
                <div class="headingCelebration">
                  <span class="dot"></span>
                  <h3>Birthday Celebration</h3>

                </div>
                <div class="content">
                  <div class="subject">
                    <h4>Dear</h4>
                  </div>
                  <div class="image">
                    <img src="../../../../assets/DeepinScreenshot_select-area_20230207161344.png" alt="">
                  </div>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                  <div class="footer">
                    <p>Cheers!</p>
                    <span>Appinventiv</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="appinventivGallery">
    <div class="fullContent">
      <div class="celebration">
        <div class="header">
          <h2>Appinventiv Gallery</h2>
        </div>
        <div class="body">
          <div class="latestCard">
            <div class="content">
              <div class="image">
                <img src="../../../../assets/Republic Day.png" alt="">
              </div>
            </div>
          </div>

          <div class="award">
            <div class="awardBody">
              <div class="latestCardAward">
                <div class="content">
                  <div class="image">
                    <div class="image1">
                      <img src="../../../../assets/Best Place to work.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="birthday">
            <div class="birthdayBody">
              <div class="birthdayCelebration">
                <div class="content">
                  <div class="image">
                    <img src="../../../../assets/Christmas.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
<div class="footer">
  <p>2023 <span class="material-icons">copyright</span> Appinventiv HR System</p>

</div>
