<div class="container">
  <h1>Policy Documents</h1>
  <div class="main">
    <div class="table">
      <!-- <app-common-table ></app-common-table> -->
      <app-common-table [tableSource]="tableSource">

        <ng-template appFor="sn" let-row="row">
          {{row.sn }}
        </ng-template>
        <ng-template appFor="name" let-row="row">
          <img class="image" src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/repository/picture_as_pdf_black_24dp.svg" alt="">
          {{row.name }}
        </ng-template>
        <ng-template appFor="type" let-row="row">
          {{row.type }}
        </ng-template>
        <ng-template appFor="file_size" let-row="row">
          {{row.file_size }}
        </ng-template>
        <ng-template appFor="last_modified" let-row="row">
          {{row.last_modified }}
        </ng-template>
        <ng-template appFor="actions" let-row="row">

          <button mat-button class="download" (click)="downloadFile(row)">Download <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/ic-download.svg"></button>
      </ng-template>

      </app-common-table>

    </div>
  </div>
</div>
