<div class="container">
  <nav>Home > Reviews > Performance</nav>
  <div class="header">
    <h1>Angular Training FEB-2022</h1>
  </div>
  <div class="cardUpper">
    <!-- <div class="tabs"> -->
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Training Details">
          <app-training-details></app-training-details>
        </mat-tab>
        <mat-tab label="Sub-Topics">
          <app-sub-topics></app-sub-topics>
        </mat-tab>
        <mat-tab label="Attendance">
          <app-attendance></app-attendance>
        </mat-tab>
      </mat-tab-group>
      <!-- <div class="buttons">
        <button mat-raised-button>Cancel</button>
      </div> -->

    <!-- </div> -->
  </div>
</div>
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
