
<div class="content_wrapper">
  <h1> Appinventiv Gallery</h1>
  <app-carousel [carouselConfigFinal]="carouselConfigGallery" [listToShow]="dataSource" [showList]="true"></app-carousel>
  <ng-container *ngFor="let member of listOfNewFamilyMembers">
    <ng-template #listofDivs>
      <div class="main_container">
        <div class="content_container_left">

          <div class="pictures">
            <img
              src="https://dashboard.appinventiv.com/uploads/gallery/award_1649320793321.jpg">
            <div class="title">
              <h1>Appinventiv</h1>
              <button mat-button (click)="openDialog()">view</button>
            </div>
          </div>

        </div>
        <div class="content_container_mid">

          <div class="pictures">
            <img
              src="https://dashboard.appinventiv.com/uploads/gallery/award_1672378171227.jpg">
            <div class="title">
              <h1>Best Place To work</h1>
              <button mat-button (click)="openDialog()">view</button>
            </div>

          </div>

        </div>
        <div class="content_container_right">

          <div class="pictures">
            <img
              src="https://dashboard.appinventiv.com/uploads/gallery/award_1672292016846.jpg">
            <div class="title">
              <h1>Christmas</h1>
              <button mat-button (click)="openDialog()">view</button>
            </div>

          </div>

        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
