<div class="appinventivGallery">
  <div class="fullContent">
    <div class="celebration">
      <div class="header">
        <h2>Appinventiv Gallery</h2>
      </div>
      <app-carousel
        [carouselConfigFinal]="carouselConfigGallery"
        [buttonShow]="true"
        [listToShow]="dataSource"
        [showList]="true"
      ></app-carousel>
      <ng-container *ngFor="let member of image">
        <div class="body">
          <ng-template #listofDivs>
            <div class="latestCard">
              <div class="content">
                <div class="image">
                  <img [src]="member.url" alt="" style="height:400px; width:400px" />
                </div>
                <button (click)="openDialog(member.subImages)">View All</button>
              </div>
            </div>
          </ng-template>
          <!--
          <ng-template #listofDivs>
            <div class="award">
              <div class="awardBody">
                <div class="latestCardAward">
                  <div class="content">
                    <div class="image">
                      <div class="image1">
                        <img
                          src="../../../../assets/Best Place to work.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #listofDivs>
            <div class="birthday">
              <div class="birthdayBody">
                <div class="birthdayCelebration">
                  <div class="content">
                    <div class="image">
                      <img src="../../../../assets/Christmas.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- <ng-container *ngFor="let item of image">
  <ng-template #listOfDivs>
    <div class="slide">
      <div class="image">
        <img [src]="'../../../../../../assets/' |   appendImagePath : item.image"  alt="">
        <button (click)="openDialog()">View All</button>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-container >
  <app-carousel  [carouselConfigFinal]="carouselConfigGallery"
  [buttonShow]="true"
  [listToShow]="dataSource"
  [showList]="true"></app-carousel>
</ng-container> -->
