@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

.container {
  padding: 40px;
  min-height: 77%;
  .body {
    background-color: $pure-white;
    padding: 20px;
    margin-bottom: 20px;
    .button {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: #3246d3;
        color: white;
      }
    }
    .containers {
      background-color: white;
      padding: 2%;
      margin-bottom: 2%;
      .main {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        column-gap: 2%;
        .field {
          display: flex;
          flex-direction: column;
        }
      }
      .area {
        display: flex;
        flex-direction: column;
        input {
          margin: 1%;
          padding: 1%;
          border: 1px solid rgb(209, 209, 209);
          width: 50%;
        }
        b {
          color: #ff0000;
        }
      }
      .submit {
        display: flex;
        justify-content: center;
        button {
          background-color: #199cff;
          color: white;
        }
      }
    }
  }
  h2 {
    color: $darkblue;
    margin-left: 20px;
    font-weight: 700;
  }
  .main {
    background-color: $pure-white;
    padding: 2%;
  }
}

:host ::ng-deep .container {
  .tables {
    table {
      thead {
        th {
          padding: 10px;
        }
      }
      tbody {
        tr {
          td {
            padding: 15px;
            // border-right: 1px solid black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 657px) {
  .container {
    .body {
      .button{
        margin-bottom: 20px;
      }
      .containers {
        .main {
          display: block;
        }
        .area{
          mat-label{
            word-break:break-word;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 297px) {
  .container {
    .body {
      padding: 10px;
    }
  }
}
