<div class="container">
  <div class="body">
    <div class="button">
      <button mat-raised-button (click)="toggleAddNew()">
        + Add new Asset Declaration
      </button>
    </div>
    <div class="containers" *ngIf="isShow">
      <div class="main">
        <div class="field">
          <mat-label>Employee Id 1555</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>

        <div class="field">
          <mat-label>Unique Asset Code</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label> Serial Number</mat-label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label>Model Number</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <!--
        <div>
          <app-dropdown [dropdown]="OS"></app-dropdown>
        </div> -->

        <div class="field">
          <mat-label>OS version</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label>Brand</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>

        <div class="field">
          <mat-label> Colour</mat-label>

          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>

        <!-- <div>
          <app-dropdown [dropdown]="condition"></app-dropdown>
        </div> -->
      </div>
      <div class="area">
        <mat-label
          >Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF)
          <b>Upload front and backside image*</b></mat-label
        >
        <input type="file" />
      </div>
      <div class="submit">
        <button mat-button>Submit</button>
      </div>
    </div>
  </div>
  <div class="main">
    <h2>List All Declaration Assets</h2>
    <div class="table">
      <app-common-table [tableSource]="tableSource">
        <ng-template appFor="sn" let-row="row">
          {{ row.sn }}
        </ng-template>
        <ng-template appFor="status" let-row="row">
          {{ row.status }}
        </ng-template>
        <ng-template appFor="request_reason" let-row="row">
          {{ row.request_reason }}
        </ng-template>
        <ng-template appFor="priority" let-row="row">
          {{ row.priority }}
        </ng-template>
        <ng-template appFor="requested_at" let-row="row">
          {{ row.requested_at }}
        </ng-template>
        <ng-template appFor="assets_category" let-row="row">
          {{ row.assets_category }}
        </ng-template>
        <ng-template appFor="allocation_type" let-row="row">
          {{ row.allocation_type }}
        </ng-template>
        <ng-template appFor="company" let-row="row">
          {{ row.company }}
        </ng-template>
      </app-common-table>
    </div>
  </div>
</div>
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
