@import "../../../../../../../scss/mixins";
@import "../../../../../../../scss/global.scss";

.container{
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      h3 {
        color: $primary-blue;
        font-size: large;
        font-weight: bold;
      }
    }
    .cross {
      button {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .main{
    .drop-downs{
      .drop-down-1{
        p{
          mat-icon{
            position: relative;
            top: 5px;
          }
        }
        mat-form-field{
          width: 100%;
          background-color: white;
        }
      }
      .drop-down-2{
        p{
          mat-icon{
            position: relative;
            top: 5px;
          }
        }
        mat-form-field{
          width: 100%;
          background-color: white;
        }
      }
    }
    .descriptions{
      .description-1{
        width: 100%;
        margin-bottom:5px ;
        textarea {
          height: 70px;
          width: 99%;
          resize: none;
        }
      }
      .description-2{
        width: 100%;
        margin-bottom:5px ;
        textarea {
          height: 70px;
          width: 99%;
          resize: none;
        }
      }
    }
    .radioButtons{
      .radioButton1{
        margin-bottom: 30px;
        .yesNo{
          display: flex;
        }

      }
      .radioButton2{
        .options{
          
        }
      }
    }
  }
}

::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
