<div class="container">
  <div class="header">
    <div class="title">
      <h3>Request for Training</h3>
    </div>
    <div class="cross">
      <button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="requestForm">
      <div class="drop-downs">
        <div class="drop-down-1">
          <p>Training name <mat-icon>help</mat-icon></p>

          <app-input-search
            [myControlName]="requestForm.controls.team"
            [data]="trainings"
          ></app-input-search>
        </div>
        <div class="drop-down-2">
          <p>Team name</p>

          <app-input-search
            [myControlName]="requestForm.controls.training"
            [data]="departments"
          ></app-input-search>
        </div>
      </div>
      <div class="descriptions">
        <div class="description-1">
          <p>
            Please mention the training/learning area’s you feel can be
            beneficial<br />
            for your skill enhancement and job performance *
          </p>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="description-2">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing <br />
            elit. Assumenda vitae iusto corrupti
          </p>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
      </div>
      <div class="radioButtons">
        <div class="radioButton1">
          <p>Are you interested to give trainings?*</p>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="interested"
          >
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="interested"
          >
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="radioButton2">
          <p>What should be the timeline to conduct this training?*</p>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="timeline"
          >
            <mat-radio-button value="1">Intermediate</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="timeline"
          >
            <mat-radio-button value="2">3-6 months</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="timeline"
          >
            <mat-radio-button value="3">More than 6 months</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="buttons">
        <div class="button1">
          <button mat-dialog-close mat-raised-button>Cancel</button>
        </div>
        <div class="button2">
          <button mat-raised-button (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
