@import "../../../../../../../scss/mixins";
@import "../../../../../../../scss/global.scss";

.container{
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    padding: 10px;
    .title {
      h3 {
        color: $primary-blue;
        font-size: large;
        font-weight: bold;
      }
    }
    .cross {
      button {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .main{
    padding: 20px;
    .drop-downs{
      .drop-down-1{
        p{
          mat-icon{
            position: relative;
            top: 5px;
          }
        }
        mat-form-field{
          width: 100%;
          background-color: white;
        }
      }
      .drop-down-2{
        p{
          mat-icon{
            position: relative;
            top: 5px;
          }
        }
        mat-form-field{
          width: 100%;
          background-color: white;
        }
      }
    }
    .descriptions{
      .description-1{
        width: 100%;
        margin-bottom:5px ;
        textarea {
          height: 70px;
          width: 99%;
          resize: none;
        }
      }
      .description-2{
        width: 100%;
        margin-bottom:5px ;
        textarea {
          height: 70px;
          width: 99%;
          resize: none;
        }
      }
    }
    .radioButtons{
      .radioButton1{
        margin-bottom: 30px;
        .yesNo{
          display: flex;
        }

      }
      .radioButton2{
        .options{

        }
      }
    }
    .buttons{
      display: flex;
      justify-content: flex-end;
      .button1{
        margin-right: 10px;
        button{
          border: 1.5px solid rgba(150, 165, 184, 0.5);
          background-color: #ffffff;
          font-family: "Lato";
          font-size: 14px;
          color: #96A5B8;
          font-weight: 500;
          // line-height: 1.4;
          border-radius: 4px;
          box-sizing: border-box;

        }
      }
      .button2{
        button{
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
          background-blend-mode: soft-light, normal;
          border: 1px solid rgba(150, 165, 184, 0.2);
          box-sizing: border-box;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
          border-radius: 4px;
          color: #FFFFFF;
        }
      }
    }
  }
}

::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

::ng-deep.mat-dialog-container{
  padding: 0px;
}
