@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

* {
  border-radius: 5px;
}

.container {
  padding: 40px;
  background-color: #f3f7fd;
  h2 {
    color: $darkblue;
  }
  .main {
    @include grid("grid-template-columns", "50% 50%", "");
    padding: 20px;
    border: $borderColor;
    background-color: $pure-white;
    .leftBody {
      padding: 20px;
      .header {
        display: flex;
        .displayPicture {
          display: flex;
          img {
            width: 4rem;
            height: 6em;
            border-radius: 50%;
          }
        }
        .name {
          margin-left: 15px;
          h3 {
            color: #3a3a3a;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 5px 0;
          }
          p {
          }
          span {
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            width: 40%;
            font-size: small;
            margin: 0px;
          }
        }
      }
      .downBody {
        margin-top: 10px;
        display: flex;
        .awards {
          width: 65%;
          background-color: #fff6ca;
          h3 {
            margin-left: 30px;
            margin-top: 10px;
            font-weight: bold;
          }
          p {
            margin-left: 30px;
          }
        }
        .honours {
          width: 20%;
          background-color: #c4e7ff;
          margin-left: 7px;
          .data {
            margin-left: 30px;
            h3 {
              font-weight: bold;
              margin-top: 10px;
            }
            p {
              margin-left: 5px;
            }
          }
        }
      }
    }
    .rightBody {
      padding: 20px;
      background-color: #dfffb0;
      .heading {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 30px;
        .number {
          h2 {
            padding: 0;
            font-size: 50px;
            font-weight: 500;
            color: black;
          }
        }
        .duration {
          width: 40%;
          p {
            background-color: $pure-white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
      .skills {
        @include grid("grid-template-columns", "20% 20% 20% 20% ", "");
        gap: 25px;
        .box1 {
          background-color: #edffd2;
          margin: 0 5px;
          padding: 20px 5px;
          border-radius: 10px;
          width: 100%;
          min-height: 100px;
          border: $borderColor;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            padding-top: 10px;
            font-weight: bold;
          }
        }
        .box2 {
          background-color: #edffd2;
          margin: 0 5px;
          padding: 20px 5px;
          border-radius: 10px;
          width: 100%;
          min-height: 100px;
          border: $borderColor;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            padding-top: 10px;
            font-weight: bold;
          }
        }
        .box3 {
          background-color: #edffd2;
          margin: 0 5px;
          padding: 20px 5px;
          border-radius: 10px;
          width: 100%;
          min-height: 100px;
          border: $borderColor;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            padding-top: 10px;
            font-weight: bold;
          }
        }
        .box4 {
          background-color: #edffd2;
          margin: 0 5px;
          padding: 20px 5px;
          border-radius: 10px;
          width: 100%;
          min-height: 100px;
          border: $borderColor;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            padding-top: 10px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .smallContainer {
    margin-top: 40px;
    background-color: $pure-white;
    padding: 40px;
    .button {
      button {
        background-color: #01b1ff;
      }
    }
    .heading {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: black;
        font-weight: bold;
      }
      p {
        margin: 0px;
      }
    }
    .calender {
      @include grid("grid-template-columns", "24% 24% 24% 24%", "");
      gap: 20px;
      .container1 {
        border: $borderColor;
        padding: 20px;
        height: 145px;
        border-radius: 10px;
        .head {
          display: flex;
          justify-content: space-between;
          span {
            background-color: #dfffb0;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .award {
          position: relative;
          top: 60px;
          padding: 0px;
          margin: 0px;
          color: #f7c417;
          font-size: 16px;
          font-weight: 500;
          span {
          }
        }

        .honourArrow {
          position: relative;
          top: 70px;
          display: flex;
          justify-content: space-between;
          .honours {
            // position: relative;
            // top: 20px;
            margin-bottom: 0px;
            span {
              font-size: 16px;
              font-weight: 500;
              color: $primary-blue;
            }
          }
          .arrow {
          }
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  .container {
    h2 {
    }
    .main {
      .leftBody {
        .header {
          .displayPicture {
          }
        }
        .downBody {
          .awards {
          }
          .honours {
          }
        }
      }
      .rightBody {
        .heading {
          .number {
            h2 {
            }
          }
          .duration {
            p {
            }
          }
        }
        .skills {
          word-break: break-word;
        }
      }
    }
    .smallContainer {
      .button {
        button {
        }
      }
      .heading {
        display: block;
      }
      .calender {
        display: block;
        // margin-top: 10px;
        .container1 {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    h2 {
    }
    .main {
      .leftBody {
        .header {
          .displayPicture {
          }
        }
        .downBody {
          .honours {
            width: 30%;
          }
        }
      }
      .rightBody {
        .skills {
          word-break: break-word;
        }
      }
    }
    .smallContainer {
      .button {
        button {
        }
      }
      .heading {
        display: block;
      }
      .calender {
        display: block;
        .container1 {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .container {
    h2 {
    }
    .main {
      .leftBody {
      }
      .rightBody {
        .skills {
          word-break: break-word;
          gap: 20px;
        }
      }
    }
    .smallContainer {
      .heading {
        display: block;
      }
      .calender {
        display: block;
        // margin-top: 10px;
        .container1 {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .container {
    h2 {
    }
    .main {
      display: block;
      .leftBody {
        .downBody {
          .awards {
            width: 30%;
          }
        }
      }
      .rightBody {
        .skills {
          word-break: break-word;
          gap: 20px;
          display: block;
          .box1 {
            padding: 0px;
          }
          .box2 {
            padding: 0px;
            margin-top: 10px;
          }
          .box3 {
            padding: 0px;
            margin-top: 10px;
          }
          .box4 {
            padding: 0px;
            margin-top: 10px;
          }
        }
      }
    }
    .smallContainer {
      .heading {
        display: block;
      }
      .calender {
        display: block;
        // margin-top: 10px;
        .container1 {
          margin-top: 10px;
        }
      }
    }
  }
}


@media (max-width: 544px) {
  .container {
    padding: 10px;
    h2 {
    }
    .main {
      display: block;
      .leftBody {
        padding: 0px;
        .downBody {
          display: block;
          // width: 100%;
          .awards {
            width: 92%;
            padding: 10px;
            margin-bottom: 5px;
          }
          .honours {
            width: 92%;
            padding: 10px;
            margin: 0px;
            margin-bottom: 10px;
          }
        }
      }
      .rightBody {
        .heading {
          .number {
            h2 {
            }
          }
          .duration {
            p {
            }
          }
        }
        .skills {
          word-break: break-word;
          gap: 20px;
          display: block;
          .box1 {
            padding: 0px;
            span {
            }
            p {
            }
          }
          .box2 {
            padding: 0px;
            margin-top: 10px;
            span {
            }
            p {
            }
          }
          .box3 {
            padding: 0px;
            margin-top: 10px;
            span {
            }
            p {
            }
          }
          .box4 {
            padding: 0px;
            margin-top: 10px;

            span {
            }
            p {
            }
          }
        }
      }
    }
    .smallContainer {
      .button {
        button {
        }
      }
      .heading {
        display: block;
        h1 {
        }
        .search {
          mat-form-field{
          width: 100%;

        }

          p {
          }
        }
      }
      .calender {
        display: block;
        // margin-top: 10px;
        .container1 {
          margin-top: 10px;
        }
      }
    }
  }
}
