<div class="container">
  <h2>Performance</h2>
  <div class="main">
    <div class="leftBody">
      <div class="header">
        <div class="displayPicture">
          <img
            src="../../../../../assets/22-220721_circled-user-male-type-user-colorful-icon-png.png"
            alt=""
          />
        </div>
        <div class="name">
          <h3>Rishabh Ghildiyal</h3>
          <p>Software Engineer (Angular)</p>
          <span>0.11 YRS</span>
        </div>
      </div>
      <div class="downBody">
        <div class="awards">
          <h3>Awards</h3>
          <p>N/A</p>
        </div>
        <div class="honours">
          <div class="data">
            <h3>Honours</h3>
            <p>N/A</p>

          </div>
        </div>
      </div>
    </div>
    <div class="rightBody">
      <div class="heading">
        <div class="number">
          <h2>5</h2>
        </div>
        <div class="duration">
          <p>Jan-2022-TILL NOW</p>
        </div>
      </div>
      <div class="skills">
        <div class="box1">
          <span>Technical Skills</span>
          <p>5</p>
        </div>
        <div class="box2">
          <span>Ownership of Delivery</span>
          <p>5</p>
        </div>
        <div class="box3">
          <span>Team Work</span>
          <p>5</p>
        </div>
        <div class="box4">
          <span>Process Adherence</span>
          <p>5</p>
        </div>
      </div>
    </div>
  </div>
</div>
