<div class="container">
  <div class="cross">
    <mat-icon mat-dialog-close>cancel</mat-icon>
  </div>
  <div class="main">
    <div class="image">
      <img src="../../../../../../../../assets/default_male.jpg" alt="" />
    </div>
    <div class="heading">
      <h3>Bidadoo App Team</h3>
      <h4>Bidadoo App Team - Squad-Award</h4>
    </div>
  </div>
  <div class="body">
    <p>Hello Team</p>
    <p>Hope you are well and safe</p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
       Fugiat non
      quidem, perferendis perspiciatis illo explicabo in quas velit,
      amet
      voluptates distinctio dolore molestias eveniet,
      quisquam aspernatur ab.
      Laborum, perspiciatis delectus.
    </p>
    <p>
      Lorem ipsum dolor sit amet.
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatem,
        laudantium.</span
      >
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
      dignissimos voluptas nemo asperiores voluptatibus, error officiis
      reprehenderit fuga quis reiciendis.
    </p>
    <p>Thank you for your contribution</p>
    <p>Congratulations and keep the spirit high</p>
  </div>
</div>
