@import "../../../../../../../../scss/mixins";
@import "../../../../../../../../scss/global.scss";

.container{
  // width: 90%;
  .cross{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;
    mat-icon{
      font-size: xx-large;
      position: relative;
      bottom: 26px;
    }
  }
  .main{
    display: flex;
    background-color: #f3f7fc;
    padding: 15px;
    .image{
      margin-left: 10px;
      img{
        height: 50px;
        width: 55px;
        border-radius:50% ;
      }
    }

    .heading{
      margin-left: 30px;
      h3{
        margin: 0px;
        font-weight: bold;
      }
      h4{
        color: #6c7e92;
        margin: 0px;
      }
    }
  }
  .body{
    p{

    }
  }
}
