@import "src/scss/_mixins.scss";
@import "src/scss/global.scss";
.content_wrapper {
  margin: 1.5%;
  border-radius: 1%;
  padding: 1%;
  background-color: white;
  border: 1px solid #d7d2d2;
  @media(max-width:1230px){
    margin: 2.5%;
    width: 60em;

  }
  @media(max-width:1200px){
    margin: 2.5%;
    width: 59em;

  }
  @media(max-width:1196px){
    margin: 2.5%;
    width: 57em;

  }
  @media(max-width:1146px){
    // margin: 2.5%;
    max-width: 54em;

  }
  @media(max-width:1146px){
    // margin: 2.5%;
    max-width: 54em;

  }
  @media(max-width:375px){
    margin: 6.5%;
    width: 20em;

  }
  h1 {
    border-bottom: $borderColor;
  }
  .main_container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 3%;
    @media (max-width: 1300px) {
      display: block;
    }
    .content_container_one {
      border-radius: 1%;
      border: $borderColor;
      padding: 2%;
      h3 {
        font-weight: bold;
      }
      .app {
        color: #26b4ff;
      }
      .pictures {
        img {
          width: 5%;
        }
      }

      .view_more {
        button {
          background-color: #26b4ff;
          color: white;
        }
      }
    }
    .content_container_two {
      border-radius: 1%;

      border: $borderColor;
      padding: 2%;
      h3 {
        font-weight: bold;
      }
      .app {
        color: #26b4ff;
      }
      .pictures {
        display: grid;
        grid-template-columns: 40% 40%;

        column-gap: 10%;
        img {
          width: 100%;
        }
      }
    }
    .content_container_three {
      border-radius: 1%;

      border: $borderColor;
      padding: 2%;
      h3 {
        font-weight: bold;
      }
      .app {
        color: #26b4ff;
      }
      .pictures {
        display: grid;
        grid-template-columns: 40% 40%;

        column-gap: 10%;
        img {
          width: 100%;
        }
      }
    }

    .content_container_right {
      border-radius: 1%;

      border: $borderColor;
      padding: 2%;
      h3 {
        font-weight: bold;
      }
      .app {
        color: #26b4ff;
      }
      .pictures {
        display: grid;
        grid-template-columns: 40% 40%;

        column-gap: 10%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.mat-raised-button:not([class*=mat-elevation-z]){
  background-color: #26b4ff;
  color: white;

}
