@import "../../../../../../scss/mixins";
@import "../../../../../../scss/global.scss";

.container {
  padding: 20px;
  min-height: 80%;
  .heading {
    h1 {
      color: $primary-blue;
      font-size: x-large;
    }
  }
  .main {
    .body {
      background-color: $pure-white;
      padding: 20px;
      .table {
        border: $borderColor;
        button {
          background-color: #f8f8f8;
          color: #3c8ae2;
        }
        table {
        }
      }
    }
  }
}

::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  cursor: pointer;
  background-color: white;
  border: $borderColor;
  //  width: 100%;
}

// ::ng-deep mat-form-field{
//   width: 100%;
// }
:host ::ng-deep .container {
  .tables {
    table {
      thead{
        th{
          padding: 10px;
        }
      }
      tbody {
        tr {
          td {
            padding: 15px;
            // border-right: 1px solid black;
          }
        }
      }
    }
  }
}
