<div class="container">
  <div class="heading">
    <h4>Training Details</h4>
  </div>
  <hr />
  <div class="row1">
    <p>Title:</p>
    <span>Angular Training Feb-2022</span>
  </div>
  <div class="row2">
    <div class="starting">
      <div class="start">
        <p>Start Date:</p>
      </div>
      <div class="startDate">
        <span>FEB-28-2022</span>
      </div>
    </div>
    <div class="ending">
      <div class="end">
        <p>End Date:</p>
      </div>
      <div class="endDate">
        <span>APRIL-02-2022</span>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="mode">
      <div class="trainingMode">
        <p>Training Mode:</p>
      </div>
      <div class="offline">
        <span>Offline</span>
      </div>
    </div>
    <div class="batch">
      <div class="batchMonth">
        <p>Batch:</p>
      </div>
      <div class="month">
        <span>FEB-2022</span>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>Description</h3>
  </div>
  <hr />
  <div class="descriptionTitle">
    <div class="title">
      <span>HTML/CSS/UI - Uploaded from sheet</span>
    </div>
  </div>
  <div class="topics">
    <h3>Topics</h3>
  </div>
  <hr>
  <div class="table">
    <app-common-table [tableSource]="tableSource">

      <ng-template appFor="sn" let-row="row">
        {{row.sn }}
      </ng-template>
      <ng-template appFor="topic" let-row="row">
        {{row.topic }}
      </ng-template>
      <ng-template appFor="topic_trainer" let-row="row">
        {{row.topic_trainer }}
      </ng-template>
      <ng-template appFor="trainer_email" let-row="row">
        {{row.trainer_email }}
      </ng-template>
      <ng-template appFor="start_date" let-row="row">
        {{row.start_date}}
    </ng-template>
    <ng-template appFor="end_date" let-row="row">
      {{row.end_date}}
    </ng-template>
    <ng-template appFor="resource_url" let-row="row">
      {{row.resource_url}}
    </ng-template>
    </app-common-table>
  </div>
</div>
