.table-data{
  position: relative;
  mat-paginator{
    ::ng-deep{


      .mat-paginator-range-actions{
        mat-button{
        height: 30px;
        width: 30px;
        box-shadow: none;
        // background: blue;
        // color: white;
        border-radius: inherit;
        margin-left: 5px;
        min-width:30px !important;
      }
      .mat-mini-fab{
        height: 30px;
        background-color: skyblue;
        color:white;
      }
    }
    .mat-paginator-page-size-label{

      display: none;
    }
    .mat-paginator-range-label::after {
      content:'Entries '
  }
  .mat-paginator-range-label::before {
        content:'Show '
  }
  .mat-paginator-page-size{
    position: absolute;
    top:0;
    left:0;
  }
  .mat-paginator-range-actions{
    width: 80vw;
    @media(max-width:448px){
      display: block;
      position: relative;
      left: 20px;
      
    }
  }

  .mat-paginator-range-label{
    flex:1;
  }

  .mat-paginator-page-size::after{
    content:'Entries'
  }
  .mat-paginator-page-size::before{
    content:'Showing'
}
    }
  }
}
