@import "../../../scss/global.scss";
.main_container {
  @include custom-scroller("y");
  mat-sidenav {
    // position: fixed;
    top: 65px;
    // height: 100%;
  }
  mat-sidenav-container {
    height: 100vh;
    // padding-top:70px ;
    background-color: #f2f6fc;

    mat-sidenav-content {
      top: 86px;
      min-height: 100%;
    }
  }
}
