
<div class="main_container">
  <header>

    <app-header [smallWindow]="smallWindow" (stateChange)="updateIsExpanded($event)"></app-header>
  </header>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav="matSidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <app-side-nav [isShowing]="isShowing" [isExpanded]="isExpanded"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
