
<div class="main_container">
  <header>
    <!-- <app-header (IsToggle)="onToggle($event)"></app-header> -->
    <app-header (isToggle)="onToggle($event)"></app-header>
  </header>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" mode="side" (mouseenter)="mouseEnter()"
      (mouseleave)="mouseLeave()">
      <app-side-nav [isExpanded]="showSidenav" [isShowing]="isShowing"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
