@import "../../../scss/global.scss";
.main_container {
  @include custom-scroller("y");
  mat-sidenav {
    position: fixed;
    top: 65px;
    height: 100%;
  }
  mat-sidenav-container {
    height: 100vh;
    background-color: #e3eef4;

    mat-sidenav-content {
      top: 86px;
      min-height: 100%;
    }
  }
}
