<div class="container">
  <nav>Home / Trainings / Training Details</nav>
  <div class="mainHeading">
    <div class="head">
      <h1>Micro Frontend Angular</h1>
    </div>
    <div class="btn">
      <button mat-raised-button>Enroll Training</button>
    </div>
  </div>
  <div class="cardUpper">
    <div class="header">
      <div class="heading">
        <h4>Training Details</h4>
      </div>
      <div class="Propbutton">
        <button mat-raised-button>Proposed</button>
      </div>
    </div>
    <hr />
    <div class="rows">
      <div class="row1">
        <div class="title">
          <p>Title:</p>
          <span>Angular Training Feb-2022</span>
        </div>
        <div class="duration">
          <p>Training Duration:</p>
          <span>1 hr</span>
        </div>
      </div>

      <div class="row2">
        <div class="start">
          <p>Training Dates:</p>
          <span> Jan-05-2023 - Jan-05-2023</span>
        </div>
        <div class="trainingMode">
          <p>Training Mode:</p>
          <span>Online</span>
        </div>
      </div>
      <div class="row3">
        <div class="attend">
          <p>Who can Attend:</p>
          <span>Angular</span>
        </div>

        <div class="batchMonth">
          <p>No of seats:</p>
          <span>55</span>
        </div>
      </div>
    </div>
    <div class="description">
      <h3>Description</h3>
    </div>
    <hr />
    <div class="descriptionTitle">
      <div class="title">
        <span
          >Micro Frontends is to think about a website or web app as a
          composition of features which are owned by independent teams. Each
          team has a distinct area of business or mission it cares about and
          specialises in. A team is cross functional and develops its features
          end-to-end, from database to user interface.</span
        >
      </div>
    </div>
    <div class="topics">
      <h3>Support Details</h3>
      <hr />
      <div class="desc">
        <span
          >Micro Frontends is to think about a website or web app as a
          composition of features which are owned by independent teams. Each
          team has a distinct area of business or mission it cares about and
          specialises in. A team is cross functional and develops its features
          end-to-end, from database to user interface.</span
        >
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
