@import "../../../../../../../../scss/global.scss";
@import "../../../../../../../../scss/mixins";

.right {
  border: $borderColor;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 2%;
  // min-width: 409px;
  h3 {
    font-size: large;
    font-weight: bold;
  }
  // .image {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   img {
  //   }
  // }

  .user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 475px;
    margin: 0 3em;
    background: url("../../../../../../../../assets/image_2023_04_15T14_29_55_661Z.png") no-repeat center / cover;
    text-align: center;
    .name {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      line-height: 1.9;
      margin: 5px 0;
    }
    .designation {
      font-size: 12px;
      color: #606167;
      font-weight: 400;
      line-height: 1.2;
      margin: 5px 0;
      text-align: center;
    }
    .new-employee-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
  }


  // .item {
  //   // display: none;
  //   min-height: 475px;
  //   margin: 0 3em;
  //   background: url("../../../../../../../../assets/DeepinScreenshot_select-area_20230210100237.png") no-repeat center ;
  //   text-align: center;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

@media (max-width: 1230px) {
}
