@import "../../../../../../../../scss/mixins";
@import "../../../../../../../../scss/global.scss";

.container {
  padding: 1.5rem;
  .header {
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(150, 165, 184, 0.5);
    h3 {
    }
  }

  :host ::ng-deep .container {
    .table {
      padding: 20px 0 0 0;
      overflow-x: auto;
      .action {
        td {
          button {
          }
        }
      }
      table {
        border: $borderColor;
        width: 100%;
        box-shadow: none;
        overflow-x: auto;
        th {
          // word-break: break-word;
          // border: 1px solid #f1f1f2;
          overflow-x: auto;
        }
        td {
          // border: 1px solid #f1f1f2;
          padding-left: 10px;
          overflow-x: auto;
          padding: 9px;
          // word-wrap: break-word;
          .edit {
            color: $pure-white;
            background-color: grey;
            margin-bottom: 7px;
            width: 10px;
          }
          .delete {
            color: $pure-white;
            background-color: red;
          }
        }
      }
    }
  }
}

@media (max-width:500px)
{
  .container {
    // padding: 1.5rem;
    // .header {
    //   padding: 0 0 15px 0;
    //   border-bottom: 1px solid rgba(150, 165, 184, 0.5);
    //   h3 {
    //   }
    // }

    :host ::ng-deep .container {
      .table {
        padding: 20px 0 0 0;
        overflow-x: auto;
        .action {
          td {
            button {
            }
          }
        }
        table {
          th {
            // word-break: break-word;
            border: 1px solid #f1f1f2;
            // overflow-x: auto;
          }
          td {
            border: 1px solid #f1f1f2;
          }
        }
      }
    }
  }
}
