@import "../../../../../scss/mixins";
@import "../../../../../scss/global.scss";

.container {
  padding: 7px 10px 10px 20px;
  min-height: 100%;
  background-color: #f3f7fd;
  .main {
    padding: 10px;
    @include grid("grid-template-columns", "69% 29%", "");
    background-color: #f3f7fd;
    .card {
      border-radius: 2%;
      background-color: white;
      border: $borderColor;
      // height: 20vh;
      width: 143%;
      @include flex(space-between, "");
      .image {
        img {
          height: 150px;
          padding: 30px;
          border-radius: 50%;
        }
      }
      .content {
        padding-left: 40px;
        margin-top: 28px;
        h1 {
          font-family: "Segoe UI";
          font-size: 30px;
          font-weight: 500 !important;
          margin-bottom: 10px;
        }
      }
    }
  }
  .content_wrapper {
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 3%;
    margin: 1%;
    width: 99%;
    // @media (max-width: 1400px) {
    //   margin-top: 20px;
    //   display: block;
    // }
    .list_container {
      background-color: $pure-white;
      height: 300px;
      border-radius: 2%;
      @media (max-width: 1400px) {
        margin-top: 20px;
        // display: block;
      }
      mat-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        mat-list-item {
          border-top-left-radius: 2%;
          border-top-right-radius: 2%;
          border-bottom: $borderColor;
          border-collapse: collapse;
          color: grey;
          p {
            margin-top: 20px;
          }
          mat-icon {
            //  min-width: 35px;
            //  padding-top: 2px;
            // align-items: center;
            // justify-content: center;
            margin-right: 10px;
          }
        }
        mat-list-item.active {
          background-color: #26b4ff;
          color: white;
        }
      }
    }
    .main_content {
      width: 100%;

    }
  }
}

@media (max-width: 1400px) {
  .container {
    .main {
      .card {
        .image {
          padding: 10px;
        }
        .content {
          word-wrap: break-word;
          padding: 10px;
        }
      }
    }
    .content_wrapper {
      display: block;
      .list_container {
        margin-top: 20px;
        display: block;
      }
      .main_content{
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 766px) {
  .container {
    .main {
      .card {
        display: block;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px;
          img{
            padding: 30px 30px 20px 30px;
            height: 60px;
            width: 60px;
            // margin-right: 70px;
          }
        }
        .content {
          word-wrap: break-word;
          padding: 10px;
        }
      }
    }
    .content_wrapper {
      .list_container {
        display: block;
        margin-top: 20px;
        // display: block;
      }
      .main_content{
        display: block;
        margin-top: 20px;
      }
    }
  }
}
