<div class="container">
  <div class="main">
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/default_male.jpg" alt="">
      </div>
      <div class="content">
        <h1>Rishabh Ghildiyal</h1>
        <div>
          <strong>Email : </strong>
          <span>rishabh.ghildiyal@appinventiv.com</span>
        </div>
        <div>
          <strong>Employee ID : </strong>
          <span>AI1555</span>
        </div>
        <div>
          <strong>Designation : </strong>
          <span>Software Engineer</span>
        </div>
        <div>
          <strong>Last Login : </strong>
          <span>09-Feb-2023</span>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <a href=""  >
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_circle</mat-icon>
              Basic Information
            </ng-template>
            <!-- <app-basic-information></app-basic-information> -->
          </mat-tab>
        </a>


        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">camera_alt</mat-icon>
              Profile Picture
            </ng-template>
            <!-- <app-profile-picture></app-profile-picture> -->
          </mat-tab>
        </a>


        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">book</mat-icon>
              Qualifcation
            </ng-template>
            <!-- <app-qualification></app-qualification> -->
          </mat-tab>
        </a>


        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_box</mat-icon>
              Shift
            </ng-template>
            <!-- <app-shift></app-shift> -->
          </mat-tab>
        </a>


        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">vpn_key</mat-icon>
              Changed Password
            </ng-template>
            <!-- <app-change-password></app-change-password> -->
          </mat-tab>
        </a>


        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up_alt</mat-icon>
              Appraisal
            </ng-template>
            <!-- <app-appraisal></app-appraisal> -->
          </mat-tab>
        </a>

      <!-- <mat-tab label="First"><app-basic-information></app-basic-information></mat-tab>
      <mat-tab label="Second">Content 2</mat-tab>
      <mat-tab label="Third">Content 3</mat-tab>
      <mat-tab label="Fourth">Content 4</mat-tab>
      <mat-tab label="Fifth">Content 5</mat-tab> -->

    </mat-tab-group>
  </div>

</div>
