@import "../../../../../scss/mixins";
@import "../../../../../scss/global.scss";


.container{
  padding: 7px 10px 10px 20px;
  min-height: 100%;
  background-color: #f3f7fd;
  .main{
    padding: 10px;
    @include grid("grid-template-columns", "69% 29%", "");
    background-color: #f3f7fd;
    .card{
      border-radius: 1%;
      background-color: white;
      border: $borderColor;
      height: 20vh;
      width: 78vw;
      @include flex(space-between,'');
      .image{
        img{
          height: 16vh;
          padding: 30px;
          border-radius: 50%;
        }
      }
      .content {
        padding-left: 40px;
        margin-top: 28px;
        h1 {
          font-family: "Segoe UI";
          font-size: 30px;
          font-weight: 500 !important;
          margin-bottom: 10px;
        }
      }
    }
  }
  .tab{
    padding: 20px;
    @media screen and (max-width: 950px) {
      width: 100%;
      padding: 0px;
      margin-bottom: 24px !important;
      ::ng-deep .mat-tab-group{
        display: block !important;
      }
      ::ng-deep .mat-tab-header{
        width: 100% !important;
      }

    }
  }
}



.cards{
  width: 26%;
  background-clip: content-box;
  background-color: $primary-blue;
  border-radius: 5px 5px 0 0 ;
  padding: 0 20px;
  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-bottom: 20px;

  }

  div.basic-info-header{
    border-radius: 5px 5px 0 0 ;
    background-color: $primary-blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      border-radius: 5px 5px 0 0;
      color: white;
    }
  }
  div{
    padding: 12px 28px;
    background-color: white;
    border: 1px solid $primary-blue ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1500px) {
      padding: 0 5px;
        min-height: 66px;

    }

    a{
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      font-size: 16px;
      text-decoration: none;
      color: #8c8e90;
      mat-icon{
        margin: 0px 10px;
      }
    }

  }
}


:host {
	::ng-deep {
		.mat-tab-group {
			flex-direction: row;
		}
		.mat-tab-header {
			border-bottom: none;
		}
		.mat-tab-header-pagination {
			display: none !important;
		}
		.mat-tab-labels {
			flex-direction: column;
		}
		.mat-ink-bar {
			height: 100%;
			left: 98% !important;
		}
		.mat-tab-body-wrapper {
			flex: 1 1 auto;
		}
	}
}
::ng-deep .mat-tab-labels{
  display: block !important;
}

::ng-deep .mat-tab-label{
  width: 100%;
}
::ng-deep .mat-tab-group{
  flex-direction: row !important;
}
::ng-deep .mat-tab-header{
  width: 26% !important;
}
::ng-deep .mat-tab-body-wrapper{
  width: 70% !important;
}

