@import "../../../../../../scss/mixins";
@import "../../../../../../scss/global.scss";


.container{
  padding: 20px;
  min-height: 80%;
  .heading{
    h1{
      color: $primary-blue;
      font-size: x-large;
    }
  }
  .main{
    .body{
      background-color: $pure-white;
      padding: 20px;
      .dropdowns{
        display: flex;

        .drop-down1{
          margin-right: 10px;
          width: 23%;
          mat-form-field{
            width: 100%;
            background-color: $pure-white;
          }
          p{
            margin: 0px;
            color: #96A5B8;
          }
        }
        .drop-down2{
          margin-left: 10px;
          width: 23%;
          p{
            margin: 0px;
            color: #96A5B8;
          }
          mat-form-field{
            width: 100%;
            background-color: $pure-white;
          }
        }

      }
    }
  }
  .table{
   border: $borderColor;
  }
}

::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  background-color: white;
  border: $borderColor;
  //  width: 100%;
}
:host ::ng-deep .container{
  .tables{
    table{
      thead{
        th{
          padding: 20px;
        }
      }
      tbody{
        tr{
          padding: 20px;
          td{
            padding: 15px;
            // border-right: 1px solid black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:761px){
  .container{
    .main{
      .body{
        .dropdowns{
          display: block;
          .drop-down1{
            width: 50%;
          }
          .drop-down2{
            width: 50%;
            margin-left: 1px;
            mat-form-field{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
