<div class="container">
  <div class="heading">
    <h1>List All Candidates</h1>
  </div>
  <div class="main">
    <div class="body">
      <form [formGroup]="interviewForm">
        <div class="dropdowns">
          <div class="drop-down1">
            <p>Department</p>
            <app-input-search
            [myControlName]="interviewForm.controls.department"
            [data]="department_data" (eventEmitter)="dropdownSelect($event,'department')"
          ></app-input-search>
          </div>
          <div class="drop-down2">
            <p>Status</p>
            <app-input-search
            [myControlName]="interviewForm.controls.status"
            [data]="status_data" (eventEmitter)="dropdownSelect($event,'status')"
          ></app-input-search>
          </div>
        </div>
      </form>
      <div class="table">
        <!-- <app-common-table ></app-common-table> -->
        <app-listing
          [config]="listingConfig"
          (changeListEvent)="onTableEventChange($event)"
        >
          <app-common-table [tableSource]="tableSource">
            <ng-template appFor="sn" let-row="row"> {{ row.sn }} </ng-template>
            <ng-template appFor="department_name" let-row="row">
              {{ row.department_name }}
            </ng-template>
            <ng-template appFor="name" let-row="row">
              {{ row.name }}
            </ng-template>
            <ng-template appFor="email" let-row="row">
              {{ row.email }}
            </ng-template>
            <ng-template appFor="mobile_no" let-row="row">
              {{ row.mobile_no }}
            </ng-template>
            <ng-template appFor="round_type" let-row="row">
              {{ row.round_type }}
            </ng-template>
            <ng-template appFor="interview_date" let-row="row">
              {{ row.interview_date }}
            </ng-template>
            <ng-template appFor="interview_time" let-row="row">
              {{ row.interview_time }}
            </ng-template>
            <ng-template appFor="final_status" let-row="row">
              {{ row.final_status }}
            </ng-template>
            <ng-template appFor="actions" let-row="row">
              {{ row.actions }}
            </ng-template>
          </app-common-table>
        </app-listing>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
