<div class="container">
  <div class="main">
    <div class="heading">
      <h2>Employee Directory</h2>
    </div>
    <div class="fields" [formGroup]="infoForm">
      <div class="name">
        <p>First Name</p>
        <mat-form-field class="name_input" appearance="outline">
          <input
            matInput
            formControlName="firstName"
            placeholder="Search by name"
            required
            (keydown.space)="$event.preventDefault()"
          />
        </mat-form-field>
        <div class="button">
          <button mat-raised-button>Reset</button>

        </div>
      </div>
      <div class="departmentName">
        <p>Department</p>

        <mat-form-field class="department" appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let department of department"
              [value]="department"
              >{{ department }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button>Reset</button>

    </div>
  </div>
</div>
