<div class="directory-wrapper">
  <div class="directory-header">
    <h1>Employee Directory</h1>
    <div class="directory-header-main-Row">
      <div class="column-2">
        <div class="input-group">
          <label for="">Name</label><br />
          <mat-form-field class="firstName_input" appearance="outline">
            <input
              matInput
              placeholder="First Name"
              required
              [formControl]="searchValue"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="department">
        <label>Department</label>

        <mat-form-field class="department" appearance="outline">
          <mat-select
            [(value)]="departmentSearch"
            (selectionChange)="departmentSelect($event)"
          >
            <mat-option
              *ngFor="let department of departments"
              [value]="department.department"
              >{{ department.department }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="buttons">
        <div class="input-group">
          <button (click)="clickReset()">Reset</button>
          <button (click)="search()">
            <mat-icon>search</mat-icon> <span>Search</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="card_lower">
        <div class="card_body" *ngFor="let item of filteredData">
          <div class="card-hover">&nbsp;</div>
          <div class="picture">
           <img class="img-fluid" src="https://dashboard.appinventiv.com/uploads/profile/profile_1646628129.jpeg">
          </div>
          <div class="team">
            <h3>{{ item.name }}</h3>
            <p>{{ item.position }}</p>
            <div class="personal_info">
              <p><span>@</span>{{ item.email }}</p>
              <p>
                <mat-icon>cake</mat-icon>{{ item.DOB  }}
              </p>
            </div>
          </div>
          <div class="social">&nbsp;</div>
        </div>
      </div>
</div>
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
