@import "src/scss/_mixins.scss";
@import "src/scss/global.scss";

.directory-wrapper {
  background-color: #f3f7fd;
  min-height: 77%;
  padding: 24px 32px;
  .directory-header {
    h1 {
      color: blue;
    }
    .directory-header-main-Row {
      // margin-left: 60px;
      // display: flex;
      padding: 0 20px;
      @include grid("grid-template-columns", "31% 31% 31%", "");
      gap: 50px;
      .column-2 {
        .input-group {
          mat-form-field {
            width: 100% !important;
          }
        }
      }
      .department {
        // width: 70%;
        label {
          margin: 0 0 0;
        }

        mat-form-field {
          width: 100%;
        }
      }

      .buttons {
        position: relative;
        top: 15px;
        .input-group {
          padding: 0px;
          ::ng-deep.mat-form-field {
            width: 100%;
          }
          button {
            height: 40px;
            min-width: 100px;
            font-size: 20px;
            margin: 10px;
            border-radius: 5px;
            background-color: white;
            mat-icon {
              font-size: 18px;
              position: relative;
              top: 4px;
            }
            font-size: 18px;
            color: #bbb9b9;
            border: 1px solid #d8d8d8;
          }
          button:nth-child(2) {
            background: #199cff;
            color: white;
            border: 0px;
          }
        }
      }
    }
  }
  .card_lower {
    @include grid(grid-template-columns, 30% 30% 30%, 3%);
    .card_body {
      padding: 30px 0 40px;
      margin-bottom: 30px;
      margin-left: 20px;
      background-color: #f7f5ec;
      text-align: center;
      position: relative;
      overflow: hidden;
      .picture {
        img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
      }

      .team {
        h3 {
          margin-bottom: 4px;
          font-size: 25px;
          font-weight: 400;
        }

        p {
          font-size: 15px;
          color: #4e5052;
        }
        .personal_info {
          text-align: left;
          margin-left: 20px;
          margin-bottom: 17px;

          p {
            color: #464646;
            margin: 0;
            overflow: hidden;
            span {
              font-weight: bolder;
              margin-right: 10px;
            }

            mat-icon {
              position: relative;
              top: 3px;
              right: 5px;
            }
          }
        }
      }

      &:hover {
        .card-hover {
          height: 200px;
          transition: all 1s ease 0.1s;
          background-color: #1369ce;
        }
        .picture {
          // box-shadow: #199CFF;
          img {
            // background-color: black;
            border-radius: 50%;
            box-shadow: 0 0 0 14px #1369ce;
            transform: scale(0.7);
            transition: all 1s ease 0.1s;
          }
        }
        .social {
          bottom: 0px;
          transition: all 1s ease 0.1s;
          background-color: #1369ce;
        }
      }
      .card-hover {
        width: 80%;
        height: 0px;
        margin-left: 32px;
        border-radius: 90%;
        background-color: #1369ce;
        top: -30%;
        opacity: 0.9;
        position: absolute;
      }
      .social {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #1369ce;
        position: absolute;
        bottom: -100px;
        left: 0;
      }
    }
  }
  .nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: x-large;
      position: relative;
      bottom: 7px;
      margin-right: 10px;
    }
  }
}

hr {
  margin: 15px 0px;
  border: 0px;
}

.flex-wrap {
  @include grid("grid-template-columns", "auto auto auto", "");
}

::ng-deep
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  cursor: pointer;
}

@media (max-width: 900px) {
  .directory-wrapper {
    .directory-header {
      .directory-header-main-Row {
        display: block;
        .column-2 {
          .input-group {
          }
        }
      }
    }
    .directory-body {
      display: block;
      word-break: break-word;
    }
  }
}

@media (max-width: 1243px) {
  .directory-wrapper {
    .directory-header {
      .directory-header-main-Row {
        display: block;
        .column-2 {
          .input-group {
          }
        }
      }
    }
    .directory-body {
      display: block;
      word-break: break-word;
    }
    .card_lower {
      display: block;
      .card_body {
        .team {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 343px) {
  .directory-wrapper {
    .directory-header {
      .directory-header-main-Row {
        display: block;
        .column-2 {
          .input-group {
          }
        }
        .buttons {
          .input-group {
            width: 98%;
            button {
              width: 100%;
              margin-left: 0px;
            }
          }
        }
      }
    }
    .directory-body {
      display: block;
      word-break: break-word;
    }
    .card_lower {
      display: block;
      .card_body {
        .team {
          display: block;
          p {
            word-break: break-word;
          }
        }
      }
    }
  }
}
