@import "src/scss/_mixins.scss";
@import "src/scss/global.scss";


.directory-wrapper {
background-color: #f3f7fd;
  padding: 24px 32px;
  .directory-header {
    h1 {
      color: blue;
    }
    .directory-header-main {
        // margin-left: 60px;

      .input-group {
        padding: 20px;
        display: block;
        width: 99%;
        // margin-left: 60px;
        mat-form-field {
          gap: 50px;
          width: 100%;
        }
        button {
          height: 40px;
          min-width: 100px;
          font-size: 20px;
          margin: 10px;
          border-radius: 5px;
          background-color: white;
          mat-icon {
            font-size: 18px;
            position: relative;
            top: 4px;
          }
          font-size: 18px;
          color: #bbb9b9;
          border: 1px solid #d8d8d8;
        }
        button:nth-child(2) {
          background: #199cff;
          color: white;
          border: 0px;
        }
      }
      .button-wrapper {
        margin-left: 60px;

        @include flex(center, center);
        flex-direction: column;
      }
    }
  }
  .directory-body {
    .card {
      overflow: hidden;
      padding: 20px;
      border: 0px;
      background-clip: content-box;
      background-color: #f7f5ec;
      .directory-card-top {
        overflow: hidden;
        @include flex(center, center);
        padding: 30px 0px 20px 0px;
        position: relative;
        min-height: 200px;
        .img-wrapper {
          position: absolute;
          @include flex(center, space-between);
          border-radius: 50%;
          width: 130px;
          height: 130px;
          border: 0px;
          padding: 0px;
          background-color: white;
          transition: border 1s, padding 1s;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            // position:absolute;
            z-index: 20;
            transition: width 1s, height 1s;
          }
        }
      }
      .directory-card-mid {
        overflow: hidden;

        h3 {
          text-align: center;
          font-size: 25px;
        }
        h4 {
          text-align: center;
        }
      }
    }
  }
}

@keyframes example {
  from {
    height: 0px;
  }
  to {
    height: 100px;
  }
}

.Row{
  display: flex;
}
.column-3{
  width: 33.33%;
}

.column-2{
  width: 50%;
}

.column-1{
  width: 100%;
}

hr{
  margin: 15px 0px;
  border: 0px;
}

.flex-wrap{
@include grid("grid-template-columns","auto auto auto","");
}
