.login-container {
  min-height: 100%;
  max-width: 100%;
  background: url("../../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;}
