<div class="main-container">
  <div class="heading">
    <h3>Home / Job Openings / Details</h3>
  </div>
  <div class="container">
    <div class="main-card">
      <h1>Job Details</h1>
      <div class="job-details">
        <h4>Job Title : Tech Lead (iOS)</h4>
      </div>
      <h4>Job Type : Permanent</h4>
      <h4>Department : iOS</h4>
      <h4>Location : Noida, Uttar Pradesh</h4>
      <h4>No. of Openings : 1</h4>
      <h4>
        <p>
          Exp. Required : 5 to 9 Years
          <span
            >Referral bonus will be <b>Rs. 5000 </b> for more information read <b (click)="openDialog()">Terms &
              Conditions</b> </span
          >
        </p>
      </h4>
    </div>
    <div class="middle-content">
      <h2>Technical Skills</h2>
      <div class="list-item">
        <h4>iOS</h4>
        <h4>Swift</h4>

        <h4>web services</h4>
        <h4>API</h4>
      </div>
      <div class="job-introduction">
        <h2>Job Introduction</h2>
        <p>
          We are looking for iOS developers responsible for the development and
          maintenance of applications.
        </p>
      </div>
      <div class="job-description">
        <h2>Job Description</h2>
        <div class="lower-content">
          <ul>
            <li>
              Develop iOS Application using Web Services, SOAP, JSON, REST,
              Cocoa and No SQL DB
            </li>
            <li>
              Active participation in the research, design, definition, and
              implementation of the product software applications
            </li>
            <li>
              Develop with the application using local DB, Core Data/SQLite and
              remote syncing
            </li>
            <li>Hardware integration like printers, scanners, and others</li>
            <li>Multiple Payment Gateway integrations</li>
            <li>Publishing iPhone and/or iPad apps</li>
            <li>In-app purchase integration.</li>
            <li>APIs like Locations and Map APIs integration</li>
            <li>Unit Test cases</li>
            <li>Image processing</li>
            <li>BLE Integration</li>
            <li>Socket integration</li>
            <li>Rich push notification</li>
          </ul>
          <h3>REQUIREMENTS:</h3>
          <ul>
            <li>At Least 3 Year of iOS development experience in Swift</li>
            <li>Must have published iOS applications in App Store</li>
            <li>
              Expertise in iOS SDK and coding/debugging using
              Xcode/Swift/Objective-C
            </li>
            <li>Experience with third-party libraries and APIs</li>
            <li>
              Working knowledge of the general mobile landscape, architectures,
              trends, and emerging technologies
            </li>
            <li>Must have an understanding of SOLID principles</li>
            <li>Strong debugging and troubleshooting skills</li>
            <li>
              Strong understanding of the full mobile development life cycle
            </li>
            <li>
              Should have good knowledge of Architecture design, SDLC, MVC, MVP,
              MVVM, and VIPER
            </li>
            <li>
              Experience in Apple's design principles and interface guidelines
            </li>
            <li>Good communication skills.</li>
          </ul>
        </div>
        <div class="Qualification">
          <h2>Job Qualification</h2>
          <div class="last-content">
            <ul>
              <li>Education: Graduate/Post Graduate</li>
              <li>Skills : Swift, iOS, API's, Sockets,</li>
              <li>Abilities: Able to write clean & reusable code</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
