<div class="Form">
  <form [formGroup]="loginForm" class="form-tag">
    <div class="email">

      <p>Email</p>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Your Email" formControlName="email" >
        <mat-error *ngIf="loginForm.controls?.email?.errors?.required">Email is Required </mat-error>
        <mat-error *ngIf="loginForm.controls?.email?.errors?.pattern">*Invalid Email</mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <p>Password</p>

      <mat-form-field class="example-full-width" appearance="fill">

        <input matInput placeholder="Enter Password" formControlName="password" [type]="hide ? 'password':'text'" >
        <i class="material-icons" matSuffix (click)="hide = !hide">
          {{hide?'visibility':'visibility_off'}}
        </i>
        <mat-error *ngIf="loginForm.controls?.password?.errors?.required && (loginForm.controls?.password?.value==0)">
          Password is Required
        </mat-error>
        <mat-error *ngIf="loginForm.controls?.password?.errors?.pattern">*Spaces not allowed</mat-error>
        <mat-error *ngIf="loginForm.controls?.password?.errors && (loginForm.controls?.password?.value>0)">*Password must be atleast 6 characters</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="forgetPassword" >
    <p [routerLink]="['/auth/forget-password']">Forgot password?</p>
  </div>
  <div class="login-button">
    <button > <mat-icon>home</mat-icon> <span>LOGIN</span></button>
  </div>
</div>
