<div class="container">
  <div class="main" [@enterLeaveAnimation]>
    <div class="heading">
      <h2>Profile Picture</h2>
    </div>
    <div class="browse">
      <label>Browse</label>
    </div>
    <div class="file">
      <input type="file" />
    </div>
    <hr>

    <p>upload files only: gif,png,jpg,jpeg</p>
    <div class="image">
      <img src="../../../../../../assets/default_male (1).jpg" alt="">
    </div>
    <div class="button">
      <button mat-raised-button>Save</button>
    </div>
  </div>
</div>
