<div class="container">
  <div class="head">
    <div div class="title">
      <h3>Training Project React Js</h3>
    </div>
    <div class="menu">
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
  <div class="people-icon">
    <mat-icon>person</mat-icon>
    <p>1</p>
  </div>
  <div class="progress">
    <div class="time">
      <span>Time and Material (TNM)</span>
    </div>
    <div class="in-progress">
      <span>In Progress</span>
    </div>
  </div>
  <div class="milestone">
    <h4>No Milestone Defined</h4>
  </div>
  <div class="resources">
    <div class="icon">
      <mat-icon>people</mat-icon>
    </div>
    <div class="number">
      <p>11</p>
    </div>
    <div class="line">
      <p>Resources</p>
    </div>
    <div class="hours">
      <p>N/A</p>
      <span>Hours</span>
    </div>
  </div>
  <div class="images">
    <img src="../../../../../../assets/default_male.jpg" alt="">
    <img src="../../../../../../assets/default_male (1).jpg" alt="">
  </div>
  <div class="completed">
    <h2>Project Completed</h2>
    <p>0</p>
  </div>
</div>
