<div class="container">
  <div class="container-body">
    <div class="header">
      <h1>My Trainings</h1>
    </div>
    <div class="button1">
      <button (click)="openDialog()" mat-raised-button>+ Request For Training</button>
    </div>
  </div>
  <div class="main">
    <div class="mainBody">
      <h1>Not Enrolled for any Trainings</h1>
      <div class="button2">
        <button mat-raised-button>Upcoming Trainings</button>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
