<section>
  <header>
    <div>
      <h1>Additional condition for rewards</h1>
    </div>
    <div class="icon">
      <mat-icon class="mat-18" [mat-dialog-close]>cancel</mat-icon>
    </div>
  </header>
  <ng-container>
    <ul>
      <li>
        Bonus will be paid out once the referred candidate completes 3 months
        with the organization.
      </li>
      <li>
        There is no cap on the number of referrals an employee can make. Every
        single hiring will make you eligible and all bonus will be paid
        accordingly.
      </li>
      <li>
        If two or more employees refer the same candidate, only the first
        referrer will receive their bonus rewards.
      </li>
      <li>
        Referral policy is applicable only on 1+ year of experience candidate.
      </li>
      <li>
        Only permanent employees of Appinventiv will be eligible for referral
        amounts.
      </li>
    </ul>
  </ng-container>
</section>
