@import "../../../../../../scss/_mixins.scss";
@import "../../../../../../scss/global.scss";

.container {
  .main {
    background-color: $pure-white;
    .heading {

      padding: 10px;
      border: 0px 0px $borderColor 0px;
      background-color: $pure-white;
      h2{
        color: $darkbklue;
      }
    }
    .info{
      padding: 20px;
      p{
        margin: 0px;
      }
      mat-form-field {
        width: 100%;
      }
      button{
        @include button(#fefefe, #008dfe, 3vw);
        background-color: #0091ff;
        color: white;
      }
    }

  }
}
