<div class="container">
  <div class="main" [@enterLeaveAnimation]>
    <div class="heading">
      <h2>Employee Force Change Password</h2>
    </div>
    <div class="info">
      <form [formGroup]="infoForm" class="form-tag">
      <p>
        Old Password
      </p>
      <mat-form-field class="oldPassword_input" appearance="outline">
        <input
          matInput
          formControlName="oldPassword"
          placeholder="Old Password"
          required
          (keydown.space)="$event.preventDefault()"
        />
        <!-- <mat-error>
          {{loginForm | showError :'email':'Email'}}
      </mat-error> -->
      </mat-form-field>
      <p>
        New Password
      </p>
      <mat-form-field class="newPassword_input" appearance="outline">
        <input
          matInput
          formControlName="newPassword"
          placeholder="New Password"
          required
          (keydown.space)="$event.preventDefault()"
        />
        <!-- <mat-error>
          {{loginForm | showError :'email':'Email'}}
      </mat-error> -->
      </mat-form-field>
      <p>Confirm Password</p>
      <mat-form-field class="confirm_input" appearance="outline">
        <input
          matInput
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          required
          (keydown.space)="$event.preventDefault()"
        />
        <!-- <mat-error>
          {{loginForm | showError :'email':'Email'}}
      </mat-error> -->
      </mat-form-field>
      <div class="button">
        <button mat-raised-button>
          Save
        </button>

      </div>
    </form>
    </div>
  </div>
</div>
