<section>
  <div class="left_content">
    <h1>Objective :</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque asperiores
      alias repellat dolorum fuga quo in quae, excepturi ab odit unde dolore
      voluptate tempora facilis porro dicta ex ipsam dolor aliquid. Culpa
      explicabo corrupti sint hic, ab fugit. Assumenda ab illum a? Repellendus
      soluta aperiam distinctio delectus officiis modi consequuntur.
    </p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, et.</h1>
    <h1>Saurabh Singh</h1>
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dicta odit
        dolor perspiciatis laudantium hic repudiandae doloribus? Aspernatur
        distinctio veniam necessitatibus fugit, hic delectus voluptatum possimus
        optio animi ad odit iure maxime quos! Atque repudiandae tempore non
        reiciendis, magni facere?
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        voluptates dolorem qui provident dolor accusantium, modi pariatur ullam
        est magnam?
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        assumenda nemo animi repellendus cupiditate! Cupiditate!
      </li>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quis
        exercitationem mollitia delectus consequuntur nulla modi distinctio
        voluptates provident magni.
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        quisquam adipisci perferendis illum vel, animi fugit corporis assumenda
        nostrum hic doloribus aliquam quam suscipit quos cupiditate similique
        reprehenderit a! Molestiae asperiores, officiis, ratione dignissimos
        praesentium ipsa dicta ullam totam tempore alias minima voluptatem quia
        sunt. Delectus laudantium mollitia ex temporibus!
      </p>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eveniet
        ratione minima velit debitis facere voluptatum. Perspiciatis quia
        molestias nesciunt. Eveniet ex ab nisi temporibus? Quisquam corporis
        voluptas quae architecto fuga autem ullam, qui vero dolore,
        exercitationem tenetur corrupti sunt!
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
        quidem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum
        quibusdam molestias quasi? Hic in saepe eum iste consequuntur qui?
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam soluta
        excepturi omnis eum veritatis libero harum quos nam. Qui cumque nemo
        enim incidunt minima porro praesentium exercitationem voluptas quidem
        commodi laborum quasi, et aspernatur distinctio autem, maiores, pariatur
        magni velit tenetur minus doloribus? Rerum quibusdam alias quia, natus
        minus totam.
      </li>
    </ul>
    <button mat-raised-button (click)="shareIdea()">Share your Idea</button>
  </div>
  <div class="right_content">
    <div class="backimg">
      <img
        src="https://dashboard.appinventiv.com/skin/img/hero-media-illustration-light.svg"
      />
    </div>
    <div class="front">
      <img src="https://dashboard.appinventiv.com/skin/img/start.png" />
    </div>
  </div>
</section>
<div class="footer">
  <app-footer></app-footer>
</div>
