<div class="container">
  <div class="header">
    <div class="title">
      <h3>Training Feedback Form</h3>
    </div>
    <button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <hr />
  <div class="main">
    <div class="row1">
      <p>Title:</p>
      <span>Angular Training Feb-2022</span>
    </div>
    <div class="row2">
      <p>Department:</p>
      <span>Angular</span>
    </div>
    <div class="row3">
      <div class="start">
        <p>Start Date:</p>
      </div>
      <div class="startDate">
        <span>FEB-28-2022</span>
      </div>
      <div class="end">
        <p>End Date:</p>
      </div>
      <div class="endDate">
        <span>APRIL-02-2022</span>
      </div>
    </div>
    <hr>
    <div class="lower">
      <label class="text-dark">Do you feel that the objective/goal of the training has been fulfilled? *</label>
    </div>
    <div class="radioButton1">
      
    </div>
  </div>
</div>
