@import "../../../../../scss/mixins";
@import "../../../../../scss/global.scss";


section {
  .sidenav_text {
    color: var(--side-nav-text-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  .is_active {
    color: $primary-blue;
    .sidenav_text {
      min-width: 160px;
    }

    .item_text::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }


  &:hover {
    color: $primary-blue;
  }

  .is_active {
    color:  var(--side-nav-active-color)!important;

    .sidenav_text {
      color: var(--side-nav-active-color);
    }

    .item_text::before {
      position: absolute;
      content: "";
      background:  var(--side-nav-active-color);
      width: 3px;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }

  }

  .item_text {
    display: flex;
    gap: 10px;

    .item_icon {
      vertical-align: super;
    }
    .circle {
      width: 20px;
      // img{
      //   margin-top: 15px;
      // }
    }
  }


  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(-90deg);
  }

  .menu-button.rotated {
    transform: rotate(0deg);
  }

  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease !important;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }

  .submenu.expanded {
    transform: scaleY(1);
  }

  .mat-list-item {
    color: var(--side-nav-text-color);
    font-family: "sf_ui_displaysemibold";
    &:disabled{
      background-color: var(--disabled-color);
    }
  }

}
section {

    position: relative;
    max-width: 250px;
    // .mat_side_list {

        // .menu-button {
        //     transition: 300ms ease-in-out;
        //     transform: rotate(0deg);
        // }

        // .menu-button.rotated {
        //     transform: rotate(180deg);
        // }

        // .submenu {
        //     overflow-y: hidden;
        //     transition: transform 300ms ease;
        //     transform: scaleY(0);
        //     transform-origin: top;
        //     padding-left: 30px;
        // }

        // .submenu.expanded {
        //     transform: scaleY(1);
        // }
    // }
}

:host::ng-deep {

    .mat-drawer .mat-sidenav {

        position: fixed !important;
        top: 0;
        bottom: 0;
        z-index: 3;
        outline: 0;
        box-sizing: border-box;
        overflow-y: auto;
        transform: translate3d(-100%, 0, 0);
    }
    .mat-list-base .mat-list-item .mat-list-item-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;

      }
}



  .item_text {
    display: flex;
    gap: 10px;
  }
