@import '../../../../../../../scss/mixins';
@import '../../../../../../../scss/global.scss';

.header{
  background-color: #F3F3F3;
  padding: 20px 10px 10px 20px;
  display: flex;
  justify-content: space-between;
  h2{
    font-size: 20px;
    color: #199CFF;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }
  mat-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

mat-dialog-content{
  padding-left: 48px;
  padding-top: 24px;
  padding-right: 48px;
  overflow-y: scroll;
  min-height: 650px;

  .heading{
    position: relative;
    width: 100%;
    h3{
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;

      &::after{
        content: '';
        width: 100%;
        height: 1px;
        border-top: 1px dashed #96A5B8;
        position: absolute;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  // @include form-field(100%);
  .input-box{
    p{
      font-family: "Lato";
      font-size: 14px;
      color: #96A5B8;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 4px;
    }
    ::ng-deep.mat-form-field-appearance-outline{

      .mat-form-field-wrapper{
        margin: -2px !important;
      }
    }
  }
  .job_detail{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }

  .candidate_detail{
    display: grid;
    grid-template-columns: 50% 50%;
    // column-gap: 2%;
    .file-choose{
      margin-left: 7px;
      p{
        font-family: "Lato";
        font-size: 14px;
        color: #96A5B8;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 4px;
      }
      input{
        border: 1px solid #d8d8d8;
        border-radius: 2px !important;
        padding: 13px 10px !important;
        background: #fff;
        width: 92%;
      }
    }

    .skill-set{
      margin-left: 7px;
      p{
        font-family: "Lato";
        font-size: 14px;
        color: #96A5B8;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 4px;
      }

      textarea{
        min-height: 90px;
        width: 96%;
        border: 1px solid #d8d8d8;
        resize: none;
      }
    }

  }
}

mat-dialog-actions{
  padding-left: 48px;
  padding-top: 24px;
  padding-right: 48px;
  overflow-y: scroll;

  .submit{
    // @include button(-1px)
  }

  .cancel{
    background-color:#fff;
    color: #96A5B8;
    border: 1.5px solid rgba(150, 165, 184, 0.5);
  }


}

// ::ng-deep.mat-dialog-container{
//   padding: 0px 0px 24px 0px !important;
//   width: 51rem;
// }

@media only screen and (max-width: 600px) {
  mat-dialog-content{
    .job_detail{
      grid-template-columns: 100%;
    }
    .candidate_detail{
      grid-template-columns: 100%;

    }
  }
}
